/* heurist-workgroup.css
 * Copyright 2006, 2007 Tom Murtagh and Kim Jackson
 * http://heuristscholar.org/
 * 
 * Styles for the main Heurist search page.
 */

/*
This file is part of Heurist.

Heurist is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Heurist is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/

body {
	/* thin header (overridden on search page) */
	background: white url(../img/edit-bg.gif) 0px -6px repeat-x;  /* brown-bg.gif is necessary to extend outside the #page table */
	color: #515151;
	margin: 10px;
	overflow: hidden;
}
#header { height: 44px; }
#home { left: 22px; top: 40px; font-size: 69%; }
#logo-cell { width: 160px; }

#wg-title { position: absolute; left: 40px; top: 15px; font-weight: bold; color: white; }

#workgroup { height: 100px; font-size: 85%; }
#workgroup #wg-heading-cell { width: 25px; font-size: 110%; vertical-align: top; padding-top: 20px; }
#workgroup #wg-heading-cell * { margin-left: 20px; }
#workgroup #wg-heading-cell a { font-size: 90%; }
#workgroup #wg-divider-cell { width: 4px; }
#workgroup #wg-name { font-size: 130%; font-weight: bold; }
#workgroup #wg-controls { width: 200px; padding: 10px; text-align: right; vertical-align: top; }
#workgroup #wg-controls a#home-link { font-size: 150%; font-weight: bold; padding: 0 2px; border: 1px solid #BFBFBF; text-decoration: none; color: #BB0000; }

#workgroup #wg-controls #add-fav-link-div { margin-top: 6px; }

#info-row td {
	padding-top: 30px;
	padding-bottom: 15px;
}

#toolbar { height: 50px; padding-left: 29px; }
#filter-controls {
	font-weight: normal;
	color:#6A7C99;
}
#filter-controls select {
border:solid 1px #6A7C99;
	-moz-border-radius-bottomleft:0;
	-moz-border-radius-bottomright:0;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
}
#img-buttons-cell { text-align: center; border: 1px solid white; }
#img-buttons-cell:hover { border-color: gray; }
.img-button:hover { border-color: white; }

.result_row input, .result_row img.bookmarked, .result_row img.unbookmarked { display: none; }
.wg-id { left: 0px; }

#saved .wg-id { font-size: 10px; left: 5px; top: 0; color: green; }

#search-status #wg-result-msg, #wg-saved-search-msg , #wg-saved-pub-search-msg{ margin: 3px 0 3px 10px; color: green;  }
#search-status.noresult #wg-result-msg { display: none; }

#wg-saved-search-msg { color: green;  }
#saved-pub-searches nobr a:hover {
text-decoration:underline;
}
#saved-pub-searches nobr a {
color:#515151;
margin-left:5px;
padding:0pt 2px 0pt 13px;
text-decoration:none;
}
#saved-pub-searches-header {border-top: 1px solid rgb(81, 81, 81); color: gray; margin-top: 5px; padding-top: 5px; font-weight:bold; overflow:hidden;}
div.button-label { font-size: 10px; }

label input {
	margin: 0px 3px 0px 5px;
}
