.keyword-list {
	min-width: 200px;
	height: 350px;

	background-color: white;
	border: 1px solid black;
	overflow: auto;
}

.keyword-list table { width: 100%; cursor: default; }
.keyword-list table tr td {
	padding: 2px;
	white-space: nowrap;
}
.keyword-list table tr td.group-name {
	font-weight: bold;
}

.keyword-list tr:focus {
	outline: none;
	background-color: #660000;
	color: white;
}

.keyword-list tr:focus ::-moz-selection {
	background-color: #660000;
	color: white;
}
.keyword-list tr ::-moz-selection {
	background-color: white;
	color: black;
}


#button-box {
	padding: 1em;
}
#button-box input {
	font-size: 20px;
	font-weight: bold;
	border: 2px solid black;
	width: 40px;
	height: 30px;
}
#button-box input[disabled] {
	border-color: lightgray;
}
