* {
	font-family: verdana, arial, helvetica, sans-serif;
	font-size: 10px;
	color: #000000;
}

select {
	width: 150px;
}

option[disabled] {
	color: gray;
}

input[type=checkbox], input[type=radio] {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
input[type=text] {
	width: 140px;
}

.flat {
	border: 1px solid lightgray;
}

.selected_col {
	background-color: #EEDD99;
}

tr * {
	vertical-align: middle;
}
