/***** HEADINGS AND GENERIC FONT STYLING *****/

					H1 { font-family: Arial, Verdana, Helvetica; color:#0096E3; font-size: 16px; vertical-align: middle}
					H2 { font-family: Arial, Verdana, Helvetica; color:#333; font-size: 14px}
					H3 { font-family: Arial, Verdana, Helvetica; color:#DC8501; font-size: 10px}
					H4 { font-family: Arial, Verdana, Helvetica; color:#000; font-size: 10px }
					H5 { font-family: Arial, Verdana, Helvetica; color:#999; font-size: 9px }

					P { font-family: Arial, Verdana, Helvetica; font-size: 11px; color:#333 }
					TD { font-family: Arial, Verdana, Helvetica; font-size: 11px; color:#333 }
					UL { font-family: Arial, Verdana, Helvetica; font-size: 11px; color:#333 }

					P.sb_ttl { font-family: Arial, Verdana, Helvetica; font-size: 10px; font-weight: bold; color:#666 }

					P.footer { font-family: Verdana, Arial, Helvetica; color:#999999; font-size: 9px}
					P.intro { font-family: Arial, Verdana, Helvetica; font-size: 12px; color:#666 }



					/***** LINK STYLING *****/


					A:link { font-family: Arial, Verdana, Helvetica; color:#0065CF; font-size: 11px }
					A:visited { font-family: Arial, Verdana, Helvetica; color:#0065CF; font-size: 11px }
					A:active { font-family: Arial, Verdana, Helvetica; color:#0096E3; font-size: 11px }
					A:hover { font-family: Arial, Verdana, Helvetica; color:#0096E3; font-size: 11px }

					A.map-type { text-decoration: none; font-weight: bold; }
					A.map-type:link, A.map-type:visited {  color:#666666; }
					A.map-type:active, A.map-type:hover { color:#0096E3; }


					A.bnnavsoff:link { font-family: Arial, Verdana, Helvetica; color:#FFFFFF; text-decoration:none; font-weight: normal; font-size: 11px }
					A.bnnavsoff:visited { font-family: Arial, Verdana, Helvetica; color:#FFFFFF; text-decoration:none; font-weight: normal; font-size: 11px }
					A.bnnavsoff:active { font-family: Arial, Verdana, Helvetica; color:#FFCC00; text-decoration:none; font-weight: normal; font-size: 11px }
					A.bnnavsoff:hover { font-family: Arial, Verdana, Helvetica; color:#FFCC00; text-decoration:none; font-weight: normal; font-size: 11px }

					A.sb_title:link { font-family: Arial, Verdana, Helvetica; color:#333333; text-decoration:none; font-weight: normal; font-size: 13px }
					A.sb_title:visited { font-family: Arial, Verdana, Helvetica; color:#333333; text-decoration:none; font-weight: normal; font-size: 13px }
					A.sb_title:active { font-family: Arial, Verdana, Helvetica; color:#004F98; text-decoration:none; font-weight: normal; font-size: 13px }
					A.sb_title:hover { font-family: Arial, Verdana, Helvetica; color:#004F98; text-decoration:none; font-weight: normal; font-size: 13px }

					A.sb_one:link { font-family: Arial, Verdana, Helvetica; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 11px }
					A.sb_one:visited { font-family: Arial, Verdana, Helvetica; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 11px }
					A.sb_one:active { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 11px }
					A.sb_one:hover { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 11px }

					A.sb_two:link { font-family: Arial, Verdana, Helvetica; color:#0065CF; text-decoration:none; font-weight: normal; font-size: 11px }
					A.sb_two:visited { font-family: Arial, Verdana, Helvetica; color:#0065CF; text-decoration:none; font-weight: normal; font-size: 11px }
					A.sb_two:active { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 11px }
					A.sb_two:hover { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 11px }

					A.bodynav:link { font-family: Arial, Verdana, Helvetica; color:#666666; text-decoration:none; font-weight: bold; font-size: 11px }
					A.bodynav:visited { font-family: Arial, Verdana, Helvetica; color:#666666; text-decoration:none; font-weight: bold; font-size: 11px }
					A.bodynav:active { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 11px }
					A.bodynav:hover { font-family: Arial, Verdana, Helvetica; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 10px }

					A.footer:link { font-family: Verdana, Arial, Helvetica; color:#666666; text-decoration:none; font-size: 9px }
					A.footer:visited { font-family: Verdana, Arial, Helvetica; color:#666666; text-decoration:none; font-size: 9px }
					A.footer:active { font-family: Verdana, Arial, Helvetica; color:#0065CF; text-decoration:none; font-size: 9px }
					A.footer:hover { font-family: Verdana, Arial, Helvetica; color:#0065CF; text-decoration:none; font-size: 9px }



					/***** STYLING FOR FORM FIELD ELEMENTS *****/


					.inputone {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #333333; background-color: #FCFCFC; width: 95%px; clip:  rect(   )}
					.formfield {  background-color: #FFFFFF; font-family: Arial, Courier, monospace; font-size:10px; color: #000000; width: 95%; clip:   rect(   )}
					.formbutton { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; font-weight: bold;  border: 1px; border-color: #FFFFFF; background-color: #000099; padding: 3px;}


					/***** THESE ROW AND CELL STYLES BELOW ARE TO BE USED TO CONTROL BRANDING COLOURS *****/

					.colourcellone  { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; font-weight: bold; background-color: #0096E3 }
					.colourcelltwo { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; background-color: #888888 }
					.colourcellthree { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #EFEFEF }
					.colourcellfour { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #B1B1B1 }
					.colourcellfive { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; background-color: #EEAC03 }
					.colourcellsix { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #F8E061 }
					.colourcellseven { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #DCE9FB }
					.sb_divider {margin-bottom: 6px }

                                                                           #header {margin-top: 20px; margin-left:10px}


					/**** annotation styles *****/

					A.annotation1{ font-family: Arial, Verdana, Helvetica; background-color: #ffff70; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 16px };
					
					html {
					overflow: hidden;
					}
					
					
					input[type=text] {
					border: 1px solid lightgrey;

					}
					

					input[type=button] {
					font-weight:bold;
					font-size: 85%;
					}

					body {
					padding: 0;
					margin: 0;
					width: 100%;
					height: 100%;
					overflow: hidden;
					}

					#breadcrumbs {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0px;
					left: 0px;
					width: 100%;
					height: 100px;
					overflow: hidden;
					}

					#artwork {
						text-align: center; /* for IE */
						margin: 0 auto; /* for the rest */
						width: 400px;
					}

					#page {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 75px;
					left: 0px;
					right: 250px;
					bottom: 0px;
					overflow: auto;
					/* IE only */
					height: expression(document.documentElement.clientHeight-100);
					width: expression(document.documentElement.clientWidth-250);
					}
					#page-inner { padding: 25px; }

					#entity {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 20px;
					left: 20px;
					right:20px;
					bottom: 0;
					overflow: auto;
					background-color: white;
					z-index: 1;
					/* IE only */
					height: expression(document.documentElement.clientHeight-100);
					width: expression(document.documentElement.clientWidth-250);
					}

					#factoid {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 20px;
					left: 20px;
					right: 20px;
					bottom: 0;
					overflow: auto;
					background-color: white;
					border: 1px solid black;
					z-index: 2;
					/* IE only */
					height: expression(document.documentElement.clientHeight-100);
					width: expression(document.documentElement.clientWidth-250);
					}

					#logo {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 0px;
					right: 0px;
					width: 200px;
					height: 50px;
					overflow: auto;
					/* IE only */
					height: expression(document.documentElement.clientHeight-50);
					}


					#sidebar {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 75px;
					right: 0px;
					bottom: 0px;
					overflow: auto;
					width: 250px;
					/* IE only */
					height: expression(document.documentElement.clientHeight-75);
					}
					#sidebar-inner { padding: 5px; }

					#pagetopcolour {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 50px;
					left: 0px;
					right: 251px;
					height: 25px;
					overflow: auto;
					/* IE only */
					width: expression(document.documentElement.clientWidth-151);
					}


					#sidebartopcolour {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 50px;
					right: 0px;
					bottom: 0px;

					overflow: auto;
					width: 250px;
					}


					#footnotesleft {
					padding: 0;
					margin: 0;
					position: absolute;
					left: 0px;
					bottom: 0px;
					height: 170px;
					overflow: auto;
					display: none;
					/* IE only */
					width: expression(document.documentElement.clientWidth-250);
					}

					#footnotesright {
					padding: 0;
					margin: 0;
					position: absolute;
					right: 0px;
					bottom: 0px;
					height: 170px;
					overflow: auto;
					display: none;
					/* IE only */
					width: expression(document.documentElement.clientWidth-250);
					}

					#footnotes {
					padding: 0;
					margin: 0;
					border-top: 1px solid black;
					position: absolute;
					left: 0px;
					right: 250px;
					bottom: 0px;
					height: 170px;
					overflow: auto;
					display: none;
					/* IE only */
					width: expression(document.documentElement.clientWidth-250);
					}
					#footnotes-inner { padding: 25px; }

					.reftype-heading a { text-decoration: none; }
					.reftype-heading a img { margin: 0; }
					.reftype-heading a.open img.right { display: none; }
					.reftype-heading a.closed img.down { display: none; }

					#titleunderlinea {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 60px;
					left 0px;
					bottom: 0px;
					overflow: auto;
					width: 200px;
					/* IE only */
					height: expression(document.documentElement.clientHeight-60);
					}

					# titleunderlineb {
					padding: 0;
					margin: 0;
					position: absolute;
					top: 60px;
					left 0px;
					bottom: 0px;
					overflow: auto;
					width: 200px;
					/* IE only */
					height: expression(document.documentElement.clientHeight-60);
					}
					.teidoc {
					border : 1px solid lightgrey;
					}

					#search {
						text-align: center;
						padding-top: 10px;
						padding-bottom: 10px;
						border-bottom: 2px solid #888888;
						margin-bottom: 20px;
					}


					#results-div {
						padding: 25px;
					}
					#results-div img {
						vertical-align: middle;
					}

					.add-annotation-button {
						margin-bottom: 4px;
					}

					a img {
						border: none;
						vertical-align: middle;
					}
					#login {

						padding-left: 5px;
						padding-top: 3px;
						vertical-align: middle;
						

					}

					#login a {
						font-size: 99%;
						color: white;

					}
					
					#saved-searches,
					#track,
					#track-header
					{
						padding-left: 15px;
						

					}

					#saved-searches a, 					
					#track a
					{
						
					}


					#saved-searches-header,
					#track-header{
						padding-top: 15px;
						padding-bottom: 5px;
						font-weight: bold;
					}
					#track {	
						padding-bottom: 20px;
						border-bottom:2px solid #888888;
					}

					#relations-table{
						padding-left: 15px;
						padding-bottom: 5px;
						border-bottom:2px solid #888888;
					}
					#heurist-link  a{
						text-align: right;
						

					}

					/* TEI styles */
					
					.poetry-line {
						line-height:0.5
					}

					.separator {
						padding-bottom:5px;
					}

					p.DoSBlockquote {
						font-family:"Times New Roman", Times, serif;
						padding-right: 50px;
						padding-left: 50px;
					}
					span.italics {
						font-style: italic;
					}
					span.bold {
						font-weight: bold;
					}
					span.note {
						display: none;
					}

					/* annotation styles */
					a.annotation {
						background-color: #ffffc0;
					}
					a.annotation.multiple {
						background-color: #ffff70;
					}
					a.annotation.superscript {
						display: none;
					}
					
					/* timemap styles */
					#map {
					position: absolute; top: 0px; left: 0px;
					width: 100%;
					height: 350px;
					margin: 0 auto;
					z-index: 0;
					}

					#timeline { 
					position: absolute; top: 380px; left: 0px;
					width: 100%;
					height: 300px;
					margin: 0 auto;
					}

					#map-timeline-key {
					position:relative;
					padding-left: 20px;
					float: none;
					}

					#timeline-zoom {
					font-family: Arial, Verdana, Helvetica; font-size: 10px; font-weight: bold; color:#666;
					position: absolute; top: 350px; right: 0px;
					}
					
					
					#div-main {
					position:relative;
					float: none;
					}
					
					a.timeline-zoom-a, a.timeline-zoom-a:hover, a.timeline-zoom-a:visited{
					text-decoration:none;
					padding-left: 5px;
					font-size: 11px;
					
					}
					
					.selected{
					font-size: 11px;
					background-color: yellow;
					}
					

