/* disable all links in page */
a{
/*pointer-events:none;*/
	cursor:default;
	text-decoration:none !important;
	color:green;
}
a:hover{
	text-decoration:none;
}
.allowed, .annotation{
/*pointer-events:default;*/
	cursor:pointer;
	color:blue;
}
.allowed:hover{
	text-decoration:underline !important;
}
.disabled, .annotation.hide{
	color:black;
}
.menu{
	display:none;
}
.menu.allowed{
	display:block;
}

.list-right-col-browse li{
    display: none;
}
.list-right-col-browse li.index-allowed{
    display: block !important;
}

#right-col #connections li{
    display: none;
}
#right-col #connections li.index-allowed{
    display: block !important;
}

#right-col #connections li a:hover {
    color: #F79219;
}

#connections ul {
    border-bottom: none;
    padding: 0 0 11px;
}
