.banner h2 {
	padding: 0 6px;
	font-weight:bold;
}
h3 {
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
	margin:10px 0 0 0;
}
h3:hover, .ui-state-active, .ui-accordion-content-active {
	background-color:RGBA(255,255,255,0.25)
}

h3 .description {
	white-space: normal;
	clear: both;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	display: block;
	padding: 2px 16px;
}
#page-inner {
	right:0px;
	left:0px;
	top:0;
	overflow-y:auto;
	bottom:0;
	position:absolute;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
#adminFrame {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
body.popup #page-inner {
	top:40px;
	right:5px;
	left:10px
}
#sidebar {
	width:170px
}
#page {
	left:190px
}
#sidebar-inner {
	top:10px
}
.adminSection {
	position:relative;
	margin-bottom:20px
}
.adminSection ul.menu li a {
	color:#666;
}
.ui-icon {
	width:16px;
	height:10px;
	background-position:0px 23px;
	display:inline-block
}
.ui-icon.header {
	background-image:url(../images/sub_heading_saved_search-hidden.png);
}
.ui-icon.headerselected {
	background-image:url(../images/sub_heading_saved_search.png);
}
.contentframe {
	border: none;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#sidebar ul li a {
	color: #515151;
	text-decoration: none;
}
#sidebar ul li a:hover {
	text-decoration: underline;
}
#sidebar ul li {
	list-style: none outside none;
	padding: 0 0 3px 1em;
}
#sidebar ul {
	padding:0 0 20px 6px;
	margin:0;
}
#sidebar ul h3 {
	font-size: 11px;
	line-height: 2ex;
	color:#6A7C99
}
.yui-dt-liner {
	text-align:cente;
	padding:0
}
.yui-skin-sam .yui-dt table {
	width:100%
}
.yui-navset {
	width: 100%;
}
tr.yui-dt-odd, tr.yui-dt-even {
	height:30px
}
.yui-dt-col-yui-dt-col23, .yui-dt1-col-info, .yui-dt-col-active {
	width:20px
}
.yui-dt-col-icon .yui-dt-liner, .yui-dt-col-yui-dt-col23 .yui-dt-liner, .yui-dt-col-info .yui-dt-liner, .yui-dt-col-active .yui-dt-liner {
	text-align:center
}
.yui-skin-sam .yui-dt table {
	border: 1px solid #A4B4CB;
}
.yui-dt1-col-id, .yui-dt1-col-active, .yui-dt1-col-yui-dt-col14, .yui-dt1-col-yui-dt-col15 {
	width:40px
}
.yui-dt0-col-active .yui-dt-liner {
	width:40px
}
html body.popup div div#page-inner div#modelTabs.yui-navset div.yui-navset div.yui-content div div#tabContainer1.yui-dt table thead tr.yui-dt-first th#yui-dt1-th-active.center div#yui-dt1-th-active-liner.yui-dt-liner span.yui-dt-label {
	text-align:center
}
/*
<td class="yui-dt1-col-info yui-dt-col-info" headers="yui-dt1-th-info ">
<td class="yui-dt1-col-usage yui-dt-col-usage yui-dt-hidden" headers="yui-dt1-th-usage ">
<td class="yui-dt1-col-icon yui-dt-col-icon" headers="yui-dt1-th-icon ">
<td class="bold_column yui-dt1-col-name yui-dt-col-name yui-dt-sortable" headers="yui-dt1-th-name ">
<td class="yui-dt1-col-description yui-dt-col-description" headers="yui-dt1-th-description ">
<td class="yui-dt1-col-status yui-dt-col-status yui-dt-sortable" headers="yui-dt1-th-status ">
<td class="yui-dt1-col-grp_id yui-dt-col-grp_id" headers="yui-dt1-th-grp_id ">
<td class="yui-dt1-col-yui-dt-col23 yui-dt-col-yui-dt-col23 yui-dt-last" headers="yui-dt1-th-yui-dt-col23 ">*/

.tooltip {
	position:absolute;
	z-index:999;
	left:-9999px;
	top:0px;
	background-color:RGBA(0,0,0,0.75);
	padding:5px;
	border:1px solid #fff;
	min-width:200;
	color:#EDEDED;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 1px 5px RGBA(0,0,0,0.5);
}
.tooltip a{color:#E6EDF7}
.tooltip h3{display:block; padding-top:10px; border-bottom:1px solid RGBA(150,150,150,0.75);margin:0 0 10px 0}
.tooltip h3:hover{background-color:transparent}
.tooltip li{
	list-style:none;
	line-height:14px;
	}
.yui-skin-sam .yui-dt td {
	margin:0;
	padding:0;
	border:none;
	text-align:left;
}
.yui-skin-sam .yui-dt-list td {
	border-right:none; /* disable inner column border in list mode */
}
.labeldiv {
	display: inline-block;
	width: 60px;
	text-align: right;
}
.yui-dt table {
	width: 800;
}
.seperator {
	margin-top:10px;
}
#dbname span {
	margin:0 0 0 2em;
}

.wysiwygCheckTable {
	width:100%;
	border-collapse:collapse;
	
}
.wysiwygCheckTable td{
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	vertical-align:top;
}