.banner h2 {
	padding: 0 6px;
	font-weight:bold;
}
h2 span {
	text-transform:none;
	color:#333;
	font-size:14px;
	font-weight:bold;
}
h3 {
	height:auto;
	padding-bottom:10px;
	padding-top:10px;
	margin:10px 0 0 0;
}
h3:hover, .ui-state-active, .ui-accordion-content-active {
	background-color:RGBA(255,255,255,0.25)
}

h3 .description {
	white-space: normal;
	clear: both;
	font-size: 10px;
	font-weight: normal;
	color: #999;
	display: block;
	padding: 2px 16px;
}
#page-inner {
	right:0px;
	left:0px;
	top:0;
	overflow-y:auto;
	bottom:0;
	position:absolute;
	border-radius:0;
}
#adminFrame {
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
body.popup #page-inner {
	top:40px;
	right:5px;
	left:10px
}
#sidebar {
	width:170px
}
.dbList li{
	list-style: none;
	background-image: url(../images/b_databasePressed.png);
	background-position: left;
	background-repeat: no-repeat;
	padding-left: 30px;
	line-height: 17px;
}
#page {
	left:190px
}
#sidebar-inner {
	top:10px
}
.adminSection {
	position:relative;
	margin-bottom:20px
}
.adminSection ul.menu li a {
	color:#666;
}
.ui-icon {
	width:16px;
	height:10px;
	background-position:0px 23px;
	display:inline-block
}
.ui-icon.header {
	background-image:url(../images/sub_heading_saved_search-hidden.png);
}
.ui-icon.headerselected {
	background-image:url(../images/sub_heading_saved_search.png);
}
.contentframe {
	border: none;
	bottom: 0px;
	left: 0px;
	position: absolute;
	right: 0px;
	top: 0;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
}
#sidebar ul li a {
	color: #515151;
	text-decoration: none;
}
#sidebar ul li a:hover {
	text-decoration: underline;
}
#sidebar ul li {
	list-style: none outside none;
	padding: 0 0 3px 1em;
}
#sidebar ul {
	padding:0 0 20px 6px;
	margin:0;
}
#sidebar ul h3 {
	font-size: 11px;
	line-height: 2ex;
	color:#6A7C99
}
.yui-dt-liner {
	text-align:cente;
	padding:0
}
.yui-skin-sam .yui-dt table {
	width:100%
}
.yui-navset {
	width: 100%;
}
tr.yui-dt-odd, tr.yui-dt-even {
	height:30px
}
.yui-dt-col-yui-dt-col23, .yui-dt1-col-info, .yui-dt-col-active {
	width:20px
}
.yui-dt-col-icon .yui-dt-liner, .yui-dt-col-yui-dt-col23 .yui-dt-liner, .yui-dt-col-info .yui-dt-liner, .yui-dt-col-active .yui-dt-liner {
	text-align:center
}
.yui-skin-sam .yui-dt table {
	border: 1px solid #A4B4CB;
}
td.center div.yui-dt-liner, th.center div.yui-dt-liner {text-align:center; /*padding-right:6px; padding-left:6px*/}
td.left div.yui-dt-liner, th.left div.yui-dt-liner {text-align:left}
td.right div.yui-dt-liner, th.right div.yui-dt-liner {text-align:right}
th#yui-dt0-th-id {width:40px}
div.yui-dt-liner select {width:100%}
body.popup div.yui-dt-liner select {width:80px}
td div.yui-dt-liner {white-space:nowrap !important}
th.yui-dt-asc div.yui-dt-liner, th.yui-dt-desc div.yui-dt-liner{text-align:left;}
div.yui-dt-liner span.count {
	display: inline-block;
	height: 16px;
	color: white;
	background-color: RGB(185,185,185);
	border-radius: 8px;
	line-height: 17px;
	font-weight: bolder;
	text-align: center;
	min-width: 17px;
}

html body.popup div div#page-inner div#modelTabs.yui-navset div.yui-navset div.yui-content div div#tabContainer1.yui-dt table thead tr.yui-dt-first th#yui-dt1-th-active.center div#yui-dt1-th-active-liner.yui-dt-liner span.yui-dt-label {
	text-align:center
}
.tooltip {
	position:absolute;
	z-index:999;
	left:-9999px;
	top:0px;
	background-color:RGBA(0,0,0,0.75);
	padding:5px;
	border:1px solid #fff;
	min-width:200;
	color:#EDEDED;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	box-shadow:0px 1px 5px RGBA(0,0,0,0.5);
}
.tooltip a{color:#E6EDF7}
.tooltip h3{display:block; padding-top:10px; border-bottom:1px solid RGBA(150,150,150,0.75);margin:0 0 10px 0}
.tooltip h3:hover{background-color:transparent}
.tooltip li{
	list-style:none;
	line-height:14px;
	}
.yui-skin-sam .yui-dt td {
	margin:0;
	padding:0;
	border:none;
	text-align:left;
}
.yui-skin-sam .yui-dt-list td {
	border-right:none; /* disable inner column border in list mode */
}
.labeldiv {
	display: inline-block;
	width: 60px;
	text-align: right;
}
.yui-dt table {
	width: 800;
}
.seperator {
	margin-top:10px;
}
#dbname span {
	margin:0 0 0 2em;
}

.wysiwygCheckTable {
	width:100%;
	border-collapse:collapse;

}
.wysiwygCheckTable td{
	border-top:1px solid #CCC;
	border-bottom:1px solid #CCC;
	vertical-align:top;
}
#errormsg {height: auto;text-align: left;margin: 24px 0;}
.input-row div.input-header-cell {width:180px}
.input-row input:not([type="submit"]) {font-size:10px}
input#tags, .input-cell .in, .input-cell .resource-title, .in, .input-row input:not([type="submit"]), .input-row textarea {
	background-color: #ECF1FB;
	min-width:40ex;
	border:none;
}
.input-row div.input-cell{
	vertical-align:baseline
}
.input-row label {display:inline-block}
.input-row {border-color:#EFF2F6; padding:6px 0}
#rectypeIcon img{padding: 5px;border-radius: 3px;box-shadow: 0 1px 3px RGBA(0,0,0,0.5);}
#rectypeThumb img{padding: 5px;border-radius: 3px;box-shadow: 0 1px 3px RGBA(0,0,0,0.5);}
.px150 {width: 150px !important}

.yui-skin-sam .yui-dt-liner {
    margin: 0;
   /* padding: 4px;*/
    text-align: left;
}
.yui-skin-sam th.yui-dt-asc .yui-dt-liner {
    /*background-image: url("dt-arrow-up.png");
	*/background-repeat:no-repeat;
	background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
	padding: 4px 0;
    text-indent: 4px;
    width: 100%;
}
.yui-skin-sam th.yui-dt-desc .yui-dt-liner {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: transparent;
   /* background-image: url("dt-arrow-dn.png");
   */ background-origin: padding-box;
    background-position: right center;
    background-repeat: no-repeat;
    background-size: auto auto;
	padding: 4px 0;
    text-indent: 4px;
    width: 100%;
}

img.button:hover {
	 background-color: rgba(100, 100, 100, 0.1);
}
.yui-dt-hidden {display:none}

/* SELECT TREE */
body {
	margin:0;
	padding:0;
}
button {
	width: 80px;
}
.termTree, .selectedTerms {
	border:none;
	overflow: auto;
	float:left;
	width:30%;
	height:360px;
	background:#FFF;
	box-shadow:inset 0px 1px 6px #6A7C99;
}
.selectedTerms {margin:0 1%;}
.termTreeText {
	width: 30%;
	padding-left:0;
	float: left;
	vertical-align: bottom;
}
.selectedTermsText {
	width: 30%;
	padding-left:0;
	float: left;
	margin: 0 1%;
}
.previewListText {
	padding-left:0;
	float: left;
}
.previewList {
	width: 200px;
	max-width: 200px;
}

.termHeader {
	font-weight: bold;
	color: black;
}
.depth0 {
	margin-left: 0px;
}
.depth1 {
	margin-left: 10px;
}
.depth2 {
	margin-left: 20px;
}
.depth3 {
	margin-left: 30px;
}
.depth4 {
	margin-left: 40px;
}
.depth5 {
	margin-left: 50px;
}
.depth6 {
	margin-left: 60px;
}
.depth7 {
	margin-left: 70px;
}
.dtyName {
	padding-left: 20px;
}
td.ygtvcell div {line-height: 10px;padding-left: 2ex;text-indent: -1ex; margin:3px 0}
td.ygtvcell div * {line-height:10px}
#yui-dt0-th-crosswalk-liner {text-align:center}
table.ygtvtable {width:100%}
.ygtvfocus {background-color:transparent !important}

/* YUI expension table formats */
tr.yui-dt-expansion div.yui-dt-liner {padding:4px 4px 4px 67px}
body.popup tr.yui-dt-expansion div.yui-dt-liner {padding:4px 4px 4px 4px}
.yui-dt-expansion .yui-dt-liner th, .yui-dt-expansion .yui-dt-liner table th {padding:4px; background:#DBDFE6;color:#666; border-bottom:1px solid #CBCBCB}
.yui-dt-expansion .yui-dt-liner table {margin-top:10px}
.yui-dt-expansion .yui-dt-liner table .status {width:60px; text-align:center	}
.yui-dt-expansion .yui-dt-liner td, .yui-dt-expansion .yui-dt-liner table td {padding:4px;color:#999}
.yui-dt-expansion .yui-dt-highlighted, .yui-dt-expansion.yui-dt-highlighted {background:transparent !important; color:#000}

.yui-skin-sam th.yui-dt-sortable .yui-dt-label {margin-right: 0px;}

div#termsFilter.popup {
	z-index:2;
	visibility:visible;
	padding:10px;
	display:none
}