div.heurist {
	width: 370px;
	height: 240px;
	border: 2px solid #FFF;
	background-color: #fff;
	z-index: 999999;
	display: none;
	-moz-border-radius: 6px;
	-webkit-border-radius:6px;
	border-radius:6px
	text-align: left;
	opacity: 1.0;
		-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
	-moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.6);
	background:url("../images/backgrounds/thumbnail_bg.png") repeat-x scroll 0 bottom #F6F6F6 !important;
	border:3px solid #FFFFFF !important;
}
div.heurist td{
	padding:0 5px
}
div.heurist * {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	text-align: left;
	font-weight: bold;
}

div.heurist div.bookmarklet_header {
	background-attachment:scroll;
	background-image:url("../images/backgrounds/banner_bg.png");
	background-position:0 bottom;
	background-repeat:repeat-x;
	color:#999999;
	cursor:move;
	font-size:14px;
	font-weight:bold;
	height:25px;
	line-height:24px;
	padding-left:3px;
	text-shadow:0 1px 1px #FFFFFF;
	text-transform:uppercase;
}
div.heurist div.bookmarklet_header span {
	font-weight: normal;
}

div.heurist div.bookmarklet_close {
	-moz-border-radius:15px 15px 15px 15px;
	-webkit-border-radius:15px 15px 15px 15px;
	border-radius:15px 15px 15px 15px;
	-moz-box-shadow:0 1px 6px #000000;
	-webkit-box-shadow:0 1px 6px #000000;
	box-shadow:0 1px 6px #000000;
	background:url("../images/white-cross.gif") no-repeat scroll center center rgba(0, 0, 0, 0.5);
	border:2px solid #FFFFFF !important;
	cursor:pointer;
	float:right;
	height:14px;
	margin-bottom:9px;
	margin-left:9px;
	position:absolute;
	right:-14px;
	text-align:center;
	top:-14px;
	width:14px;
}

div.heurist div#topline {
	padding:10px;
}

div.heurist select#reftype-select {
	width: 230px;
	margin-right: 10px;
}

div.heurist a.imglnk {
	margin: 0px;
}
div.heurist a {
	color: blue;
	text-decoration: underline;
}

div.heurist img {
	border: none;
	vertical-align: text-bottom;
	margin-right:3px;
}
div.heurist nobr img {
	vertical-align: middle;
}

div.heurist div#hr-div {
	height: 1px;
	width: 100%;
	background-color: black;
	margin: 25px 0 15px 0;
}

div.heurist td input, div.heurist td a {
	margin-right: 0;
}
.bookmarklet_link_importer {
	padding :10px;
	text-Align :right !important;
	border-Top :1px solid #AAA;
	position : absolute;
	bottom: 0;
	left:0;
	right:0;
	color: #6A7C99;
	font-weight: normal !important;
	}
