html, body {
    background-color: #fff;
}

#diagram_list {
    position: absolute;
    right: 2px;
    top: 0px;
    text-align: right;
    overflow: none;
}

 #diagram_list > li:hover {
    background-color: rgba(0, 0, 0, 0);
    border-color: transparent;
    color: #000;
}

#menuButton {
    background-color: white !important;

    background-image: url("../images/blue-down-triangle.png") !important;
    background-position: right center;
    background-repeat: no-repeat;

    display: inline-block;
    height: 17px !important;
    padding: 0 26px 0 0;
    text-align: left;
    width: 44px;
}

.yuimenuitemlabel {
    text-align: left;
}