/* global.css
 * Copyright 2010 Ireneusz "Irek" Golka
 * http://heuristscholar.org/
 *
 * Global styles for Heurist,
 */

/*
This file is part of Heurist.

Heurist is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Heurist is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


/****** old CSS *******/


table {
	font-size:inherit;
	font:100%;
}

pre, code {
	font:100% monospace;
}
form {
	padding: 0;
	margin: 0; /* fixes slight scrolling on safari */
}
/* see README.style for comments */

body {
	behavior: url("csshover2.htc");	/* behaviour sheet for IE to support :hover */
}
img {
	border: 0;
}
a:hover {
	text-decoration: underline;
}
#header { /* background-color: #660000; */
	height: 44px;
}
#logo-cell {
	width: 170px;
}
#logo-cell a {
	text-decoration: none;
}
#title-cell {
	font-size: 3ex;
	color: #666;
}
#title-cell a {
	color: #7D9AAA;
	text-decoration: none;
}
#title-cell a:hover {
	color: #7D9AAA;
	text-decoration: underline;
}
/* links in the top-right corner of every page (about, report a bug, contact us) */
#quicklink-cell {
	vertical-align: top;
	text-align: right;
	width: 250px;
	color: #666;
	font-size:3ex;
	clear:both;
	position:absolute;
	right:10px;
	top:20px;
}
#quicklink-cell a {
	color: #7D9AAA;
	text-decoration: none;
	margin: 0 1ex;
}
#quicklink-cell a:hover {
	text-decoration: underline;
}
/* a cell for adding a drop-down menu (only the search page?) */
#menu-cell {
	vertical-align: bottom;
	text-align: right;
	width: 10px;
}
#toolbar {
	height: 80px;
	color: #333;
}
/* #main { height: auto; } -- expands to rest of #page height */
#main-table {
	width: 100%;
	height: 100%;
}
#left-cell {
	width: 200px;
}
#divider-cell {
	width: 4px;
}
/* left and right content panels occupying most of the page */
.panel {
	border: 1px solid #BFBFBF;
	font-size: 85%;
}
.panel-header {
	background-image:url(../images/heading_popup.png);
	height:25px;
	line-height: 24px;
	padding: 0 1ex;
}
.panel-header b {
	font-size: 107%;
}
.panel-header a {
	color: #515151;
}
.panel-header * {
	line-height: 24px;
}
.result-container {
	vertical-align: top;
}
.panel-main-content {
	position: absolute;
	overflow: auto;
	/* setting w/h to 100% doesn't work as well as one would hope,
	 * IE6 in particular doesn't get the hint.
	 */
	width: 100%;
	height: 100%;
}
.panel-footer {
	height: 24px;
}
.expander {
	width: 100%;
	height: 100%;
}
/* make focus outlines consistent (Safari doesn't draw the right focus on links with image in it) */
*:focus {
	outline: none;
	color: #000;
}
.img-button:focus, #logo-cell a:focus {
	outline: none;
}
*:focus img {
	outline: none;
	text-align: center;
}

/* Buttons on firefox get a double outline unless we specify this;
 * IE treats the ::-moz-focus-inner as :unknown, which is treated as :focus by the csshover code.
 */
input[type=submit]::-moz-focus-inner, input[type=button]::-moz-focus-inner {
border: none;
}
select:focus {
	outline: none;
}
/* generic awful workarounds to make radiobuttons and checkboxes cross-browser sane */
label input {
	vertical-align: text-top;
	padding: 0;
	margin: 0;
	width: 13px;
	height: 13px;
}
label {
	line-height: 100%;
}
.dialogBox {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 3px 6px rgba(100, 100, 100, 0.6);
	-moz-box-shadow: 0 3px 6px rgba(100, 100, 100, 0.6);
	box-shadow: 0 3px 6px rgba(100, 100, 100, 0.6);
	display: inline-block;
	border: 3px solid #FFF !important;
	background:url("../images/backgrounds/thumbnail_bg.png") repeat-x scroll 0 bottom #F6F6F6 !important;
}
div.popup {
	position: absolute;
	visibility: hidden;
	-webkit-box-shadow: 4px 4px 3px gray;
	background: url(../images/resize-handle.gif) #000 scroll bottom right no-repeat;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 4px 8px #000;
	-moz-box-shadow: 0 4px 8px #000;
	box-shadow: 0 4px 8px #000;
	display: inline-block;
	border: 3px solid #FFF !important;
	background:url("../images/backgrounds/thumbnail_bg.png") repeat-x scroll 0 bottom #F6F6F6 !important;
}
table.popup {
	overflow: hidden;
	display: block;
	margin: 1px;
	padding: 0;
	border-spacing: 0;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}
table.popup tr, table.popup td {
	padding: 0;
	border-spacing: 0;
	border: 0;
	overflow: hidden;
}
table.popup td.header {
	background-attachment:scroll;
	background-image:url("../images/backgrounds/banner_bg.png");
	background-position:0 bottom;
	background-repeat:repeat-x;
	color:#999999;
	cursor:move;
	font-size:14px;
	font-weight:bold;
	height:25px;
	line-height:24px;
	padding-left:10px;
	text-shadow:0 1px 1px #FFFFFF;
	text-transform:uppercase;
}
/* don't want it to look like you can select the header! */
table.popup td.header::selection, div.draggable td.header::selection, div.draggable td.header b::selection {
background-color: inherit;
color: inherit
}
table.popup td.header::-moz-selection, div.draggable td.header::-moz-selection, div.draggable td.header b::-moz-selection {
background-color: inherit;
color: inherit
}
table.popup div.close-button, .close-button {
	background:url("../images/white-cross.gif") no-repeat scroll center center RGBA(0,0,0,0.5);
	cursor:pointer;
	float:right;
	height:14px;
	margin-bottom:9px;
	margin-left:9px;
	position:absolute;
	right:-14px;
	text-align:center;
	top:-14px;
	width:14px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	-webkit-box-shadow: 0 1px 6px #000;
	-moz-box-shadow: 0 1px 6px #000;
	box-shadow: 0 1px 6px #000;
	border: 2px solid #FFF !important;
}
table.popup div.close-button:hover, .close-button {
	background-image: url(../images/black-cross.gif);
}
body table.popup div.help-button {
	float: right;
}
div.help-button {
	cursor: pointer;
	vertical-align: middle;
	padding: 0.1em 0.2em 0.4em 0.2em;
	margin: 0.1em 0.2em 0.4em 0.2em;
}
div.help-button span {
	font-size: 0.8em;
	vertical-align: bottom;
}
div.help-button:hover {
	color: #FFF;
}
div.resize-handle {
	position: absolute;
	right: 0px;
	bottom: 0px;
	z-index: 100002;
	width: 10px;
	height: 10px;
	cursor: se-resize;
	background-image:url("../images/resize-handle.png");
	background-repeat:no-repeat;
	background-position:left bottom;
}
table.popup div.size-div {
	width: 300px;	/* eventual width and height are controlled by contained document */
	height: 200px;
	border: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}
iframe#coverall, div.coverall-div,#coverall, .coverall {
	position: absolute;
	left:0;
	top: 0;
	height:100%;
	width:100%;
	border: 0;
	padding: 0;
	margin: 0;
}
#coverall {
	DISPLAY: none;
	z-index: 10000;
	}
iframe#coverall, #coverall {
	background-color: RGBA(0,0,0,0.5);
}
iframe#coverall.invisible {
	background-color: transparent;
}
div.coverall-div {
	background-color: rgba(0, 0, 0, 0.6);
	font-weight: bold;
	text-indent: 0;
	line-height: 14px;
	color: black;
	background-repeat: no-repeat;
	background-position: center center;
	background-image: url(../images/loading-animation.gif);	/* override when the load has finished */
}
div.coverall-div.saving {
	background-image: url(../images/saving-animation.gif);
}
#fake-console {
	position: absolute;
	width: 500px;
	height: 150px;
	right: 40px;
	bottom: 80px;
	padding: 5px;
	overflow: auto;
	background-color: white;
	border: 1px solid black;
	color: black;
	z-index: 1000;
}
/* hide admin-only stuff ... obviously there is server-side protection, this is just cosmetic */
body.is-not-admin *.admin-only {
	display: none;
}
body.is-not-logged-in *.logged-in-only {
	display: none;
}
*.not-logged-in-only {
	display: none;
}
body.is-not-logged-in div.not-logged-in-only {
	display: block;
}
/* good usage pattern: use heurist setDisplayPreference to set "xxx" to "show" or "hide" */
/* and have two classes  xxx  and  not-xxx  */
body.help-show .help {
}
body.help-hide .help {
	display: none;
}
body.help-hide .not-help {
}
body.help-show .not-help {
	display: none;
}
body.advanced-show .advanced {
}
body.advanced-hide .advanced {
	display: none;
}
body.advanced-show tr.advanced {
	display: table-row
}
body.input-visibility-required .aditional, body.input-visibility-required .optional, body.input-visibility-required .optional-fields, body.input-visibility-required .recommended {
	display: none;
}
body.input-visibility-recommended .additional, body.input-visibility-recommended .optional, body.input-visibility-recommended .optional-fields, body.input-visibility-recommended .required-only {
	display: none;
}
body.input-visibility-all .not-optional-fields {
	display: none;
}
body.advanced tr.advanced {
	display: table-row;
}
.totally-hidden, .totally-hidden *, .preload {
	position: absolute;
	width: 0;
	height: 0;
	left: -10000px;
}
/* s-type styling ... used to be in stype.css */

#stype_options {
	display: none;
	position: absolute;
	margin: 2px 1px 1px 1px;
	z-index: 999999;
	width: 200px;
	height: 72px;
	background-image: url(../images/stype/stype-dropshadow.png);
	top:32px !important;
}
#stype_options_child {
	padding: 3px;
	padding-right: 9px;
	position: relative;
	cursor: default;
}
#stype_options a {
	outline: 0;
	border: 0;
	padding: 0;
}
#stype_options div.stype_option {
	padding: 2px 4px 2px 24px;
	display: block;
	border: 0;
	background-repeat: no-repeat;
	background-position: 2px 2px;
	background-color: white;
}
#stype_options div.stype_option:hover, #stype_options div.hover {
	background-color: #c0c0c0;
}
#stype_options div.stype_option img {
	margin-right: 1ex;
}
#stype_options * {
	text-decoration: none;
	color: black;
	cursor: default;
	line-height: 16px;
}



/******* global font ********/

*|* {font-family: Helvetica, Arial, Verdana !important;font-size: 11px;line-height: 2ex;}
select, input, textarea {font:2ex;}


/******* backgrounds ********/

body, .darkBG {
	background-image:url("../images/backgrounds/dark_bg.png") !important;
	background-repeat:repeat;
}
#sidebar, #footnotes, .mediumBG {
	/*background-image:url("../images/backgrounds/medium_bg.png") !important;
	background-repeat:repeat;*/
	background-color:#DBDFE6;
}
#page, .lightBG {
	background-image:none !important;
	background-repeat:repeat;
	background-color:#FFF !important;

}
.banner, .bannerBG {
	background-color:#F2F2F2;
	background-image:url("../images/backgrounds/banner_bg.png") !important;
	background-position:center bottom;
	background-repeat:repeat-x;
}
#logo {
	background-image:url(../images/branding/h3logo_small.png) !important;
	background-repeat: no-repeat;
}
#search {height:40px;left:10px;padding:0;position:absolute;right:10px;top:65px;}


/******* layouts (sidebar on left) ********/

#page, #sidebar {
	padding: 0;
	margin: 0;
	position: absolute;
	bottom: 10px;
	overflow: visible;
	/* IE only */
	height: expression(document.documentElement.clientHeight-100);
 	width: expression(document.documentElement.clientWidth-250);
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border:1px solid #999999;
	top:55px;
	bottom:20px;
}
#page {left: 10px; right: 10px;height:auto;width:auto;padding:40px 10px 10px 10px;}
#sidebar {
	left: 10px;
	width: 285px;
}
#page-inner, #sidebar-inner, #results-div {
	position: absolute;
	top:26px;
	left:0;
	right:0;
	bottom:10px;
	overflow: auto;
}
.tableCell {
	border-right:1px solid #D6D6D6;
	display:inline-block;
	height:100%;
	padding:8px 13px;
	vertical-align:middle;
}
.table {
	display: table;
}
.roundedBottom {
	-moz-border-radius-bottomleft:10px;
	-moz-border-radius-bottomright:10px;
	-moz-border-radius-topleft:0px;
	-moz-border-radius-topright:0px;
	-webkit-border-bottom-left-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-webkit-border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top-left-radius:0px;
	border-top-right-radius:0px;
}
.roundedTop {
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
}
.roundedBoth {
	-moz-border-radius-bottomleft:5px;
	-moz-border-radius-bottomright:5px;
	-moz-border-radius-topleft:5px;
	-moz-border-radius-topright:5px;
	-webkit-border-bottom-left-radius:5px;
	-webkit-border-bottom-right-radius:5px;
	-webkit-border-top-left-radius:5px;
	-webkit-border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}
body {
	left:0;
	margin:0;
	position:absolute;
	right:0;
	top:0;
	bottom:0;
	overflow:hidden;
}
#logo, #home-link {
	position: absolute;
	height:50px;
	top:5px;
	left:10px;
}

#logo {width:180px;left:0px;top:0px;}
#version { position: absolute; left: 150px; top: 36px; color: white; font-size: 10px; }
#quicklinks-cell {
	color:#666666;
	font-size:12px;
	text-align:right;
	vertical-align:top;
	width:250px;
	position:absolute;
	top:0;
	right:5px;
}
#message {color:#FFF;width:auto;position:absolute;top:15px;left:295px;height: 30px;padding: 10px;display: table-cell;display: none;}

img {border: 0;}
.banner {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0px;
	left: 0px;
	right:0px;
	height: 25px;
	overflow: visible;
	/* IE only */
	width: expression(document.documentElement.clientWidth-151);
	-moz-border-radius-bottomleft:0px;
	-moz-border-radius-bottomright:0px;
	-moz-border-radius-topleft:10px;
	-moz-border-radius-topright:10px;
	-webkit-border-bottom-left-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-webkit-border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	border-bottom-left-radius:0px;
	border-bottom-right-radius:0px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom :1px solid #999999;
	color:#333333;
}
#login, #heurist-link {
	padding: 5px;
	vertical-align: middle;
	display: table-cell;
	color: #6A7C99;
}
#login {
	padding:0 10px;
	width:100%;
	display: inline;
}
/******* basic paragraph styles ********/
H1 {color:#666;font-size: 16px;vertical-align: middle;line-height: 18px;}
H2 {color:#6A7C99;font-size: 14px;text-transform: uppercase;}
H3 {color:#DC8501;font-size: 12px; white-space: nowrap;}
H4 {color:#000;font-size: 11px}
H5 {color:#999;font-size: 10px}
P {color:#333333;font-size:11px;line-height:21px;}


/******* links and id-specific styles ********/
A:link {color:#6A7C99;text-decoration: none;}
A:visited {color:#6A7C99;text-decoration: none;}
A:active {color:#6A7C99;text-decoration: none;}
A:hover {text-decoration: underline;}
img a:link {border: none;}
#home-link a {color:#FFFFFF;text-decoration:none;text-shadow:0 3px 3px rgba(0, 0, 0, 0.5);text-transform:uppercase;font-size: 24px;}
#home-link a:hover {text-decoration:none;text-shadow:0 0px 0px rgba(0, 0, 0, 0.5);}
#message, #message a {font-size:21px;font-weight: bold;color: #FFFF98;text-shadow: 1px 1px 3px RGBA(0, 0, 0, 0.5);}
#message a {color: #DDFFFF;}
#instance-name {font-size:14px;font-weight:bold;color: #FFF;text-shadow: 1px 1px 3px RGBA(0, 0, 0, 0.5);text-transform: uppercase;font-style: italic;left:50px;position:absolute;top:39px;}
.banner A, .banner A:hover, .banner input {background-position:2px 5px;background-repeat:no-repeat;border-right:1px solid #D6D6D6;display:inline-block;font-size:10px;font-weight:bold;height:19px;padding:6px 13px 0 0;text-decoration:none;}
.banner A:hover {background-color: RGBA(150, 150, 150, 0.1);}
#version { color:#909090;font-size:10px;font-style:normal;font-weight:bold;height:11px;left:155px;line-height:10px;padding:0 3px;position:absolute;top:23px; }
#quicklinks {z-index:20;position:absolute;right:0;}
/****** search and button styling from search page *****/
#q, #toolbar select, #query-input {
/*	-moz-border-radius:10px 0 0 10px;
	-webkit-botrder-raduis:10px 0 0 10px;
	border-radius:10px 0 0 10px; */
	border:0 solid #666666;
	height:22px;
	margin-right:-3px;
}
body.w-all #my-records-button, body.w-bookmark #all-records-button {
	-moz-border-radius:0 0 0 0;
	background:none repeat scroll 0 0 transparent;
	border-color:-moz-use-text-color #BCBCBC -moz-use-text-color -moz-use-text-color;
	border-style:none solid none none;
	border-width:medium 1px medium medium;
	font-size:10px;
	height:22px;
	margin:0 -3px 0 0;
	padding:0 5px;
}
body.w-all #all-records-button, body.w-bookmark #my-records-button {
	-moz-border-radius:0 0 0 0;
	background:none repeat scroll 0 0 transparent;
	border-color:-moz-use-text-color #BCBCBC -moz-use-text-color -moz-use-text-color;
	border-style:none solid none none;
	border-width:medium 1px medium medium;
	font-size:10px;
	height:22px;
	margin:0 -3px 0 0;
	background-color: RGBA(0,0,0,0.1);
	padding:0 5px;
}

#web-search-link, .button {
	font-size:10px;
	padding-left:5px;
	text-decoration:none;
	-moz-border-radius:0 0 0 0;
	background:none repeat scroll 0 0 transparent;
	border: none;
	font-size:10px;
	height:22px;
	margin:0 -3px 0 0;
	padding:0 5px;
	padding:0 5px;
}
#my-records-button, #all-records-button, #web-search-link, .button {
	text-transform: uppercase;
	color: #666;
	cursor: pointer;
}
* #my-records-button:hover, * #all-records-button:hover, * #web-search-link:hover, .button:hover{
	color :#000;
}
.outline {
	border:1px solid #999;
	padding:0 10px 0 5px;
	background-image:url("../images/backgrounds/banner_bg_dark.png");
	background-position:bottom;
	display:inline-block;
	height: 22px;
	overflow: hidden;
	vertical-align:middle;
}
#my-records-saved-searches, #all-records-saved-searches, #workgroup-saved-searches, .relType {
	padding: 0 0px 0px 0px;
	background-color: none;
	background-image:url(../images/heading_saved_search.png);
	background-position:left top;
	background-repeat:no-repeat;
/*	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #BEC8D6;
	border-top:1px solid #FFF;*/
}
#my-records-saved-searches.hide, #all-records-saved-searches.hide, #workgroup-saved-searches.hide, .relType.hide {
	background-image:url(../images/heading_saved_search-hidden.png);

}

#saved .search-type, .relTypeHeading  {
	color: #6A7C99;
	font-weight:bold;
	cursor: pointer;
	padding-top: 5px;
	padding-right: 6px;
	padding-bottom: 4px;
	padding-left: 18px;
	background-position: bottom;
	border: 1px none #999;

}
#pageNavCount {
	position: absolute;
	right: 10px;
	top:0;
	}
.relItemList {
	display:block;
	background-image:url(../images/backgrounds/light_bg.png);
	}


/*  keyword editoi css */

.keyword-list {
	width: 270px;
	height: 350px;
	padding: 5px;
	background-color: white;
	border: 1px solid #A4B4CB;
	overflow-x:hidden ;
	overflow-y: auto;
	margin: 0;
}

.keyword-list table { width: 100%; cursor: default; }
.keyword-list table tr td {
	padding: 2px;
	white-space: nowrap;
}
.keyword-list table tr td.group-name {
	font-weight: bold;
}

.keyword-list tr:focus {
	outline: none;
	background-color: #A4B4CB;
	color: white;
}

.keyword-list tr:focus ::-moz-selection {
	background-color: #A4B4CB;
	color: white;
}
.keyword-list tr ::-moz-selection {
	background-color: white;
	color: black;
}

#button-box {
	padding: 10px;
}
#button-box input {
	-moz-border-radius:5px;
	-webkit-botrder-raduis: 5px;
	border-radius: 5px;
	font-size: 20px;
	font-weight: bold;
	border: 1px solid #666;
	width: 30px;
	height: 30px;
	color: #666;
	background-image: url("../images/backgrounds/banner_bg.png") !important;
}
#button-box input[disabled] {
	border-color: #BBB;
	color: #BBB;
}

.relation-title{
	color: #333;
	font-weight:bold;
	background-position: bottom;
}
.relation-title a{
	color: #6A7C99;
}
.relation-title td {
	padding: 20px 0 5px 0;
	border-bottom: 1px solid #A4B4CB;   }

.relation td {
	padding: 5px 0;
	border-bottom: 1px solid #A4B4CB;
	border-top: 1px solid #FFF;}

.resource td{
	border: none;}
.resource {
	background-color: RGBA(0,0,0,0.1);}
.add_records_img {vertical-align: text-bottom;padding: 0 1ex 0 0;}

*.openTools {position:absolute;right:5px;bottom:5px;z-index:11;cursor:pointer;height: 15px;width:28px;background-image: url("../images/cog.png");background-position: 0 0;}
.openTools {position:absolute;left:40px;}
#toolbox {background-color: RGBA(0,0,0,0.8);padding:0 10px;margin: 0;position: absolute;top: 22px;left: 5px;width: auto;overflow: visible;	/* IE only */width: expression(document.documentElement.clientWidth-151);-moz-border-radius-bottomleft:10px;-moz-border-radius-bottomright:10px;-moz-border-radius-topleft:10px;-moz-border-radius-topright:10px;-webkit-border-bottom-left-radius:10px;-webkit-border-bottom-right-radius:10px;-webkit-border-top-left-radius:10px;-webkit-border-top-right-radius:10px;border-bottom-left-radius:10px;border-bottom-right-radius:10px;border-top-left-radius:10px;border-top-right-radius:10px;border :2px solid #FFF;-webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);-moz-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);box-shadow: 0 2px 6px rgba(0, 0, 0, 0.6);z-index: 200;}

#toolbox span{text-indent: 0;white-space: nowrap;font-size: 12px;display:block;z-index:12;}
#toolbox span:hover{color: #FFF;}
#toolbox a {color:#CCCCCC;display:block;font-size:10px;font-weight:bold;height:19px;padding:3px 10px 0;text-decoration:none;}
#toolbox a:hover {background-color: RGBA(255,255,255,0.2);color:#FFF}


#header {display: none;}
h2 {color:#6A7C99;font-size:14px;line-height:6px;padding:0 10px;text-transform:uppercase;}
form {display:inline}
#forceform img {border:0 none;padding:0 5px 0 10px;vertical-align:text-top;}
div#mapDiv .close-button {top:2px; right:2px}
