/* CSS Document */
.breaker {padding: 5px;}
input {margin: 0pt;vertical-align: text-top;}
#query-highlight {background-color:#EFEFEF;bottom:10px;color:#333333;left:10px;margin-top:0;padding-bottom:5px;padding-top:5px;position:absolute;right:10px;}
#wizard-subheading {margin-bottom: 10px;font-weight:bold;font-size:13px;}
.wizard-box{background-color:#efefef; border: 1px solid lightgrey;padding:10px;}
/**** global overrides ****/
#page {top:75px; bottom:10px; right: 10px; left: 10px;display: block;padding: 40px 10px 10px 10px;}
#header {display: none;}
h2 {color:#6A7C99;font-size:14px;line-height:6px;padding:0 10px;text-transform:uppercase;}
form {display:inline}
#forceform img {border:0 none;padding:0 5px 0 10px;vertical-align:text-top;}