
body {
	top:10px !important; bottom:10px !important; left:10px !important; right:10px !important;
	background-color: #DDD;
	background:-moz-linear-gradient(center top , #F0F0F0, #FFF) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#F0F0F0), to(#FFF));
}
.hiddenRecordPane {
	display: none;
}
.recordPane {
	-webkit-box-shadow: #666 0px 1px 4px;
	-moz-box-shadow:0 1px 4px #666;
	box-shadow:0 1px 4px #666;
	background-color: white;
	border-bottom-left-radius: 5px 5px;
	border-bottom-right-radius: 5px 5px;
	border-top-left-radius: 5px 5px;
	border-top-right-radius: 5px 5px;
	height: 100%;
	margin: 6px;
	overflow-x: hidden;
	overflow-y: auto;
}
.hiddenRelationPane {
	display: none;
}
.relationPane {
	vertical-align:middle;
	height: 100%;
	width: 150px;
	text-align:center;
	/*background:#EEE;
	background:-moz-linear-gradient(center top , #e6f8fd, #bee4f8) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(#e6f8fd), to(#bee4f8));
	-moz-box-shadow:inset 0 0px 6px #999;
	-webkit-box-shadow:inset 0 0px 6px #999;
	box-shadow:inset 0 0px 6px #999;*/
	color:#FFF;
	text-shadow: #000 0px 1px 0px;
}
#errorMsg {
	width:100%;
	height:99%;
	background-color:#FFF;
	text-align:center;
	vertical-align: middle;
}
.relationPane span, #errorMsg span{
	background-color: rgba(100, 100, 100, 0.6);
	background:-moz-linear-gradient(center top , rgba(100, 100, 100, 0.6), rgba(100, 100, 100, 0.9)) repeat scroll 0 0 transparent;
	background:-webkit-gradient(linear, left top, left bottom, from(rgba(100, 100, 100, 0.6)), to(rgba(100, 100, 100, 0.9)));
	border: 1px solid #999;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	padding:3px;
	font-size:14px;
	color:#FFF;
}
.wrap {
	display:table;
	width:100%;
	height:100%;
	-webkit-border-bottom-right-radius:10px;
	border-bottom-right-radius: 10px;
	-moz-border-radius-bottomright:10px;
	
}
.wrap div {
	display:table-cell;
	}
.wrap div iframe{
	width:100%;
	height:99%;
	border:0;
	}
