/* heurist-workgroup.css
 * Copyright 2006, 2007 Tom Murtagh and Kim Jackson
 * http://heuristscholar.org/
 *
 * Styles for the main Heurist search page.
 */

/*
This file is part of Heurist.

Heurist is free software; you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation; either version 3 of the License, or
(at your option) any later version.

Heurist is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
*/


#page, #sidebar {top:180px}
#header { height: 44px; }
#home { left: 22px; top: 40px; font-size: 69%; }
#logo-cell { width: 160px; }
#exit-link {color:#DC8501;font-size:14px;}
#wg-title { position: absolute; left: 40px; top: 15px; font-weight: bold; color: white; }
#banner-heading{-moz-border-radius:10px 10px 0 0;-webkit-border-radius:10px 10px 0 0; border-radius:10px 10px 0 0; color:#7D9AAA;font-weight:bold;height:13px;padding:6px 5px;}
#workgroup {height:100px;left:10px;position:absolute;right:10px;top:105px;}
#workgroup #wg-heading-cell { width: 25px; font-size: 110%; vertical-align: top; padding-top: 20px; }
#workgroup #wg-heading-cell * { margin-left: 20px; }
#workgroup #wg-heading-cell a { font-size: 90%; }
#workgroup #wg-divider-cell { width: 4px; }
#wg-description {font-size:12px;height:23px;margin-right:188px;overflow:hidden;padding:5px;}
#wg-name {float:left;font-size:16px;font-weight:bold;height:60px;padding:10px;border-right:1px solid #D6D6D6;}
#wg-controls { border:medium none;float:right;padding:5px 14px;position:absolute;right:0;text-align:right;top:0;vertical-align:top;width:150px;border-left:1px solid #D6D6D6;}
#workgroup #wg-controls a#home-link { font-size: 150%; font-weight: bold; padding: 0 2px; border: 1px solid #BFBFBF; text-decoration: none; color: #BB0000; }
#wg-manage-saved-searches-link {border:medium none;float:right;line-height:17px;padding:3px 10px;position:absolute;right:0;top:0;}
#workgroup #wg-controls #add-fav-link-div { margin-top: 6px; }
#info-row td {vertical-align: top;}
#toolbar { height: 50px; padding-left: 29px; }
#filter-controls {font-weight: normal;color:#6A7C99; padding:0 10px}
#filter-controls select {margin:0 10px 0 0; border:solid 1px #6A7C99;-moz-border-radius-bottomleft:0;-moz-border-radius-bottomright:0;-moz-border-radius-topleft:0px;-moz-border-radius-topright:0px;}
#img-buttons-cell { text-align: right; border: none;padding-right:10px; }
.img-button{background:none repeat scroll 0 0 transparent;border:medium none;cursor:pointer;margin:0 10px;padding:0 0 3px;;vertical-align:middle;}  
.img-button:hover { border-color: none; }
#resource-count {float:right;position:absolute;right:10px;top:2px;}
.result_row input, .result_row img.bookmarked, .result_row img.unbookmarked { display: none; }
.wg-id { left: 0px; }
.panel-main-content {height:auto;}
#saved .wg-id { font-size: 10px; left: 5px; top: 0; color: green; }
#ellipsis {bottom:7px;color:#6A7C99;display:none;font-size:12px;font-weight:bold;position:absolute;right:190px;}
#search-status #wg-result-msg, #wg-saved-search-msg , #wg-saved-pub-search-msg{ margin: 3px 0 3px 10px; color: green;  }
#search-status.noresult #wg-result-msg { display: none; }

#wg-saved-search-msg { color: green;  }
#saved-pub-searches nobr a:hover {
text-decoration:underline;
}
#saved-pub-searches nobr a {
color:#515151;
margin-left:5px;
padding:0pt 2px 0pt 13px;
text-decoration:none;
}
#saved-pub-searches-header {border-top: 1px solid rgb(81, 81, 81); color: gray; margin-top: 5px; padding-top: 5px; font-weight:bold; overflow:hidden;}
div.button-label { font-size: 10px;display: inline;}

label input {
	margin: 0px 3px 0px 5px;
}
