<p><a href="#" target="_blank" rel="noopener" data-heurist-id="add_link" class="demo_blog_css">Add blog post</a></p>
<table style="width: 100%; border-collapse: collapse; border-style: none;" border="0">
<tbody>
<tr>
<td style="width: 10%; border-style: none; text-align: left; vertical-align: top;">
<div class="mceNonEditable" style="background: white; position: relative; border: 1px solid gray; height: 100%; width: 200px;" data-heurist-app-id="heurist_SearchTree">{"allowed_svsIDs":"999","searchTreeMode":"0","init_svsID":"999","init_at_once":true,"search_realm":"sr1"}</div>
</td>
<td style="width: 84.1745%; border-style: none;">
<div class="mceNonEditable" style="background: white; position: relative; border: 1px solid gray; height: 600px; width: 100%;" data-heurist-app-id="heurist_resultList">{"show_counter":false,"show_viewmode":false,"show_inner_header":false,"recordview_onselect":"no","recordDivClass":"","show_url_as_link":true,"support_collection":false,"support_reorder":false,"view_mode":"record_content","rendererExpandDetails":"Blog entry.tpl","show_toolbar":false,"init_at_once":true,"search_realm":"sr1"}</div>
</td>
</tr>
</tbody>
</table>
<table style="border-style: none;">
<tbody>
<tr>
<td style="width: 100%;">&nbsp;</td>
</tr>
</tbody>
</table>

<style>
/* this css will be added to website css on runtime */
.demo_blog_css{
    color:yellow;
    background-color:blue;
}
</style>