<p>
<div id="mywidget_2002" class="mceNonEditable" style="border: 2px solid gray; height: 26px; width: 100px;" data-heurist-app-id="heurist_recordAddButton">{"RecTypeID":"7","OwnerUGrpID":"0","NonOwnerVisibility":"public","add_record_label":"Add blog post","init_at_once":true,"search_realm":"sr3484"}
</div>
</p>
<table style="width: 100%; border-collapse: collapse; border-style: none;" border="0">
  <tbody>
    <tr>
      <td style="width: 10%; border-style: none; text-align: left; vertical-align: top;">
        <div id="mywidget_645" class="mceNonEditable" style="background: white; position: relative; border: 1px solid gray; height: 100%; width: 200px;" data-heurist-app-id="heurist_SearchTree">{"allowed_svsIDs":1,"searchTreeMode":"0","init_svsID":1,"init_at_once":true,"search_realm":"sr3484"}
        </div>
      </td>
      <td style="width: 84.1745%; border-style: none;">
        <div id="mywidget_6005" class="mceNonEditable" style="background: white; position: relative; border: 1px solid gray; height: 600px; width: 100%;" data-heurist-app-id="heurist_resultList">{"show_counter":false,"show_viewmode":false,"support_collection":false,"support_reorder":false,"show_inner_header":false,"blog_result_list":false,"recordview_onselect":"no","rendererExpandInFrame":false,"recordDivClass":"","show_url_as_link":true,"view_mode":"record_content","rendererExpandDetails":"Blog post format.tpl","show_toolbar":false,"init_at_once":true,"search_realm":"sr3484"}
        </div>
      </td>
    </tr>
  </tbody>
</table>
<table style="border-style: none;">
  <tbody>
    <tr>
      <td style="width: 100%;">&nbsp;
      </td>
    </tr>
  </tbody>
</table>
<p>&nbsp;
</p>

<style>
/* this css will be added to website css on runtime */
.demo_blog_css{
    color:yellow;
    background-color:blue;
}
</style>