<p>

<div style="position: relative; height: 500px; width: 100%; border-color: #6A5ACD;">
    <div id="mywidget_6001" class="mceNonEditable" style="background: #ffffff; position: absolute; top: 0px; width: 310px; bottom: 0px; overflow: hidden;" data-heurist-app-id="heurist_SearchTree">
      {"allowed_UGrpID":"4", 
      "searchTreeMode":"1", 
      "init_at_once":true, 
      "search_realm":"sr3485"}
    </div>
    <div class="ent_wrapper" style="position: absolute; top: 0px; bottom: 0px; left: 310px; right: 0px;">
      <div id="mywidget_6002" class="mceNonEditable" style="background: #FFFFFF; position: absolute; top: 0px; width: 50%; left: 0px; bottom: 0;" data-heurist-app-id="heurist_Map">
        {"layout_params":{"notimeline":false, 
        "nocluster":false, 
        "editstyle":true, 
        "map_rollover":true, 
        "controls":"legend, 
        bookmark, 
        selector, 
        print", 
        "published":1, 
        "template":"", 
        "basemap":""}, 
        "leaflet":true, 
        "init_at_once":true, 
        "search_realm":"sr3485"}
      </div>
      <div id="mywidget_6003" class="mceNonEditable ui-layout-mywidget_6953 ui-widget-content" style="background: #FFFFFF; position: absolute; top: 0px; width: 50%; right: 1px; bottom: 0;" data-heurist-app-id="heurist_resultList">
        {"search_realm":"sr3485"}
      </div>
    </div>
</div>

</p>