.button {
    background-color: #1ad;
    color: #fff;
    padding: 0px;
    margin: 2px;
    font-size: 14px;
    text-align: center;
}

.label {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.required-label{
    color: #f00;
    font-size: 18px;
    font-weight: bold;
    padding-top: 15px;
}

.input-field, .text-area, .required {
    background-color: #eee;
    border: 1px solid rgba(0, 0, 0, 0.25);
    text-align: left;
    margin-top:2px;
    width:99%;
}

.dropdown {
}

.clear-button {
    margin: 0px;
    margin-top: 60px;
    padding: 0px;
    width: 30px;
    height: 30px;
}

.attach-button {
    top: 44px;
}

.positive-button {
    background-color: #181;
}

.negative-button {
    background-color: #b11;
}

.neutral-button {

}

.browse-button {

}


