#
# .../rectype-icons/.htaccess : This file overrides default barring of access to listing and files
#                               in the HEURIST_FILESTORE directory (and descendants).
#                               This file is copied as part of rectype-icons to all new databases
#
# NOTE: Apache config must be set to allow htaccess controls
#
# @package     Heurist academic knowledge management system
# @link        http://HeuristNetwork.org
# @copyright   (C) 2005-2019 University of Sydney
# @author      Abed Kassis   <a.kassis@sydney.edu.au>
# @license     http://www.gnu.org/licenses/gpl-3.0.txt GNU License 3.0
# @version     4

# Allow listing and access to this folder's files
Options +Indexes
Allow from all
