<header class="bg-info-subtle py-1" style="background-image: url(&quot;{$website.bgImage}&quot;) !important; background-repeat: repeat-x !important; background-size: auto 100%;"> <!-- {$website.classes} -->
    <div class="container">
        <nav class="navbar navbar-expand-md nabvar-light">
            <div class="container-fluid">
            
            <div class="d-flex align-items-center">
                <img src="{$website.logo_small}" alt="Logo" height="20" class="me-2 d-block d-md-none">
                <img src="{$website.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h5 mb-0">{$website.title}</div>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-navbar" focusable="false">
                <span class="navbar-toggler-icon" style="font-size:0.8rem"></span>
            </button>
            <div id="main-navbar" class="collapse navbar-collapse justify-content-end">

                <!-- main menu -->
                <div id="main-menu" data-heurist-widget="HMenu">{$website.navbar}</div>
                
                <div class="d-flex ms-lg-3">
                    <!-- language selector -->
                    {$website.languages} 
                    
                    <!-- login/signup and personal menu -->
                    <div data-heurist-widget="HMenuPersonal"></div>
                </div>
            </div>
            </div>   
        </nav>
    </div>
</header>