<header class="bg-info-subtle">

    <nav class="navbar nabvar-light container-fluid justify-content-start" style="z-index:9999;background-image: url(&quot;{$header.bgImage}&quot;) !important; background-repeat: repeat-x !important; background-size: auto 100%;">
            <button class="navbar navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-header" focusable="false">
                <span class="navbar-toggler-icon" style="font-size:0.8rem"></span>
            </button>
            <div class="d-flex align-items-center">
                <img src="{$header.logo_small}" alt="Logo" height="20" class="me-2 d-block d-md-none">
                <img src="{$header.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h5 mb-0">{$header.title}</div>
            </div>
    </nav>

    <div class="bg-info-subtle offcanvas offcanvas-start" style="border:none;padding-top:3rem" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="main-header">
    
        <navbar class="navbar nabvar-light p-3">
<!--
            <div class="container-fluid">
            
            <button type="button" class="navbar-toggler" data-bs-dismiss="offcanvas" aria-label="Close" focusable="false">
                <span class="ui-icon ui-icon-carat-2-w"></span>
            </button>
            <div class="d-flex align-items-center">
                <img src="{$header.logo_small}" alt="Logo" height="20" class="me-2 d-block d-md-none">
                <img src="{$header.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h5 mb-0">{$header.title}</div>
            </div>

            <div id="main-navbar" class="justify-content-end">
            </div>
            
            </div>
-->            
             

                <!-- main menu -->
                <div id="main-menu" data-heurist-widget="HMenu">{$header.navbar}</div>
                <br>
                <div class="d-flex w-100">
                    <!-- language selector -->
                    {$header.languages} 
                    
                    <!-- login/signup and personal menu -->
                    <div data-heurist-widget="HMenuPersonal"></div>
                </div>
            
        </navbar>
    </div>
</header>