<header id="main-header" class="bg-info-subtle">

    <!-- login/signup and personal menu -->
    <div data-heurist-cms="HMenuPersonal" style="position:fixed;left:10px;right:10px;z-index:9999"></div>                

    <nav class="navbar nabvar-light container-fluid justify-content-start" style="z-index:9999;background-image: url(&quot;{$website.bgImage}&quot;) !important; background-repeat: repeat-x !important; background-size: auto 100%;">
            <button class="navbar navbar-toggler mx-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-sidemenu" focusable="false">
                <span class="navbar-toggler-icon" style="font-size:0.8rem"></span>
            </button>
            <div class="d-flex align-items-center">
                <img src="{$website.logo}" alt="Logo" height="20" class="me-2 d-block d-md-none">
                <img src="{$website.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h5 mb-0">{$website.title}</div>
            </div>
    </nav>

    <div class="bg-info-subtle offcanvas offcanvas-start" style="border:none;padding-top:3rem" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="main-sidemenu">
    
        <navbar class="navbar nabvar-light p-3">

                <!-- main menu -->
                <div id="main-menu" data-heurist-cms="HMenu">{$website.navbar}</div>
                <br>
                <div class="d-flex w-100">
                    <!-- language selector -->
                    {$website.languages} 
                    
                </div>
            
        </navbar>
    </div>
</header>