<header id="main-header" class="mb-4 border-bottom bg-body-tertiary" style="background-image: url(&quot;{$website.bgImage}&quot;) !important; background-repeat: repeat-x !important; background-size: auto 100%;">

    <div data-heurist-cms="HMenuPersonal" style="position:fixed;left:10px;right:10px;z-index:9999"></div>

    <div class="container-fluid d-flex flex-wrap justify-content-center align-items-center border-bottom py-md-3 py-sm-1">
        <img src="{$website.logo}" alt="Logo" height="40" class="me-2 d-block d-md-none">
        <img src="{$website.logo}" alt="Logo" height="80" class="me-2 d-none d-md-block">
        <div class="h3 mb-0">{$website.title}</div>
    </div>
    
    <!-- main menu -->
    <div class="container justify-content-center ps-sm-2 py-md-2 navbar navbar-expand-sm">

        <div id="main-menu" data-heurist-cms="HMenu">{$website.navbar}</div>

        <div class="ms-3">
            <!-- language selector -->
            {$website.languages} 
        </div>

        <!-- login/signup and personal menu -->
    </div>
    
</header>
