<div data-heurist-cms='{"type":"group","name":"About"}' class="class="d-flex flex-column">

            
            <!-- About section one-->
            <div data-heurist-cms='{"type":"group","name":"about1"}' class="container p-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <h1 class="fw-bolder mb-3">Our mission is ....</h1>
                            <p class="lead fw-normal text-muted mb-4">** Please describe the creation of the database and the website **</p>
                            <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- About section two-->
            <section data-heurist-cms='{"type":"group","name":"about2"}' class="py-5 bg-light" id="scroll-target">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6"><img class="img-fluid rounded mb-5 mb-lg-0" src="hclient/assets/600x400.png" alt="..."></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">History of development</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- About section three-->
            <section data-heurist-cms='{"type":"group","name":"about3"}' class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 align-items-center">
                        <div class="col-lg-6 order-first order-lg-last"><img class="img-fluid rounded mb-5 mb-lg-0" src="hclient/assets/600x400.png" alt="..."></div>
                        <div class="col-lg-6">
                            <h2 class="fw-bolder">Key features</h2>
                            <p class="lead fw-normal text-muted mb-0">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto est, ut esse a labore aliquam beatae expedita. Blanditiis impedit numquam libero molestiae et fugit cupiditate, quibusdam expedita, maiores eaque quisquam.</p>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Team members section-->
            <section class="py-5 bg-light">
                <div class="container px-5 my-5">
                    <div class="text-center">
                        <h2 class="fw-bolder">Project Team</h2>
                        <p class="lead fw-normal text-muted mb-5">Dedicated to quality and your success</p>
                    </div>
                    <div class="row gx-5 row-cols-1 row-cols-sm-2 row-cols-xl-4 justify-content-center">
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="hclient/assets/150x150.png" alt="...">
                                <h5 class="fw-bolder">John Doe</h5>
                                <div class="fst-italic text-muted">Principal Investigator</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-xl-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="hclient/assets/150x150.png" alt="...">
                                <h5 class="fw-bolder">Navn Navnesen</h5>
                                <div class="fst-italic text-muted">Administrator</div>
                            </div>
                        </div>
                        <div class="col mb-5 mb-5 mb-sm-0">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="hclient/assets/150x150.png" alt="...">
                                <h5 class="fw-bolder">Erika Mustermann</h5>
                                <div class="fst-italic text-muted">Researcher</div>
                            </div>
                        </div>
                        <div class="col mb-5">
                            <div class="text-center">
                                <img class="img-fluid rounded-circle mb-4 px-4" src="hclient/assets/150x150.png" alt="...">
                                <h5 class="fw-bolder">Hong Gildong</h5>
                                <div class="fst-italic text-muted">Researcher</div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
</div>            
