<header class="{$header.classes} bg-dark text-white py-1">
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
            
            <div class="d-flex align-items-center">
                <img src="{$header.logo_small}" alt="Logo" height="40" class="me-2 d-block d-md-none">
                <img src="{$header.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h6 mb-0">{$header.title}</div>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" focusable="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav" data-heurist-widget="HMenu">
                <!-- main menu -->
                {$header.navbar}
                <div class="d-flex ms-lg-3">
                    <!-- language selector -->
                    {$header.languages} 
                    <!-- login/signup and personal menu -->
                    <div data-heurist-role="userPersonal"></div>
                </div>
            </div>
            </div>   
        </nav>
    </div>
</header>