<header class="bg-dark text-white py-1"> <!-- {$header.classes} -->
    <div class="container">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
            
            <div class="d-flex align-items-center" Xdata-heurist-widget="HBrand">
                <img src="{$header.logo_small}" alt="Logo" height="40" class="me-2 d-block d-md-none">
                <img src="{$header.logo}" alt="Logo" height="40" class="me-2 d-none d-md-block">
                <div class="h6 mb-0">{$header.title}</div>
            </div>
            
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-menu" focusable="false">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end">
                    <!-- main menu -->
                    <div  id="main-menu" data-heurist-widget="HMenu">{$header.navbar}</div>
                <div class="d-flex ms-lg-3">
                    <!-- language selector -->
                    {$header.languages} 
                    <!-- <div data-heurist-widget="HMenuLanguages"></div> -->
                    <!-- login/signup and personal menu -->
                    <div data-heurist-widget="HMenuPersonal"></div>
                </div>
            </div>
            </div>   
        </nav>
    </div>
</header>