<div data-heurist-cms='{"type":"group","name":"Landing"}' class="container col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
        <div class="col-10 col-sm-8 col-lg-6">
            <img src="hclient/assets/600x400.png" class="d-block mx-lg-auto img-fluid" alt="" width="600" height="400" loading="lazy"> 
        </div>
        <div class="col-lg-6">
            <div class="display-5 fw-bold text-body-emphasis lh-1 mb-3">{$website.title}</div>
            <div class="lead">{$website.description}</div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-start" data-heurist-cms="HMenu">
                <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Discover</button>
                <button type="button" class="btn btn-outline-secondary btn-lg px-4">About</button>
            </div>
        </div>
    </div>
</div>