<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>TimeMap Test Suite</title>
    <link rel="stylesheet" type="text/css" href="../../jsUnit/css/jsUnitStyle.css">
    <script language="JavaScript" type="text/javascript" src="../../jsunit/app/jsUnitCore.js"></script>
    <script language="JavaScript" type="text/javascript">
    
var allTestPages = [
    // gets replaced by build script
    // TESTPAGES
];
    
function suite() {
    var newsuite = new jsUnitTestSuite(),
        // gets replaced by build script
        timemapdir;
    for (var x=0; x<allTestPages.length; x++) {
        newsuite.addTestPage("../" + timemapdir + "/tests/" + allTestPages[x]);
    }
    return newsuite;
}

    </script>
</head>

<body>
<h1>TimeMap Test Suite</h1>

<p>This page contains a suite of tests for testing TimeMap with jsUnit.</p>
</body>
</html>
