<div class="c-search" id="ua-search">
  <div class="c-search__container">
    <div class="c-search__form">

      <button class="c-search__close-button" aria-label="Close search" type="button" data-close>
        <span aria-hidden="true">&times;</span>
      </button>

      <div class="c-search__input-group">
        <input type="text" class="c-search__input-group-field" data-autofocus placeholder="Find a thing...">
        <div class="c-search__input-group-button">
          <button type="submit" class="c-search__button"><i class="fa fa-search"></i> Search</button>
        </div>
      </div>

    </div>
  </div>
</div>
