<nav>
  <ul class="c-header-quicklinks" id="ua-header-quicklinks" data-responsive-menu="accordion large-dropdown">
    <li><a href="#">Students</a></li>
    <li><a href="#">Staff</a></li>
    <li>
      <a href="#0">Quicklinks</a>
      <ul class="c-header-quicklinks__submenu">
        <li><a href="#0">University email</a></li>
        <li><a href="#0">MyUni</a></li>
        <li><a href="#0">Library</a></li>
        <li><a href="#0">Access Adelaide</a></li>
        <li><a href="#0">Staff Directory</a></li>
        <li><a href="#0">Login</a></li>
      </ul>
    </li>
    <li class="c-header__search"><a href="#" data-toggle="ua-search"><i class="fa fa-search"></i></a></li>
  </ul>
</nav>


