<nav>
  <ul id="ua-mega-menu" class="c-mega-menu">
    <li class="c-mega-menu__item is-dropdown-submenu-parent">
      <a href="#study">Study at Adelaide</a>
      <ul class="c-mega-menu__submenu has-four-columns">
        <li class="c-mega-menu__submenu-row">
          <div class="c-mega-menu__submenu-column">
            <figure class="c-mega-menu-image has-caption is-full-width">
              <a href="#0" class="c-mega-menu-image__link"><img src="http://placehold.it/1106x830" alt="" class="c-mega-menu-image--full-width"></a>
              <figcaption class="c-mega-menu-image__caption">Really long figcaption <a href="#0">with link text</a> to show the correct styles</figcaption>
            </figure>
            <a href="#0" class="c-mega-menu__submenu-btn">Button</a>
            <a href="#0" class="c-mega-menu__submenu-btn">Button</a>
          </div>
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading">Degree &amp; Courses</h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item Menu item Menu item Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading"><a href="#0">Future Students</a></h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading"><a href="#0">Other Opportunities</a></h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="c-mega-menu__item is-dropdown-submenu-parent">
      <a href="#research">Research &amp; Innovation</a>
      <ul class="c-mega-menu__submenu has-three-columns">
        <li class="c-mega-menu__submenu-row">
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading"><a href="#0">Degree &amp; Courses</a></h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading"><a href="#0">Future Students</a></h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
          <div class="c-mega-menu__submenu-column">
            <ul>
              <li><h3 class="c-mega-menu__submenu-heading"><a href="#0">Other Opportunities</a></h3></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
              <li><a href="#0">Menu item</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
    <li class="c-mega-menu__item"><a href="#engage">Engage</a></li>
    <li class="c-mega-menu__item"><a href="#about">About the Uni</a></li>
  </ul>
</nav>
