
RewriteEngine On
RewriteRule ^deploy/(.+)$ deploy/$1 [L,NC]
RewriteRule ^php/(.+)$ php/$1 [L,NC]
RewriteRule ^swf/(.+)$ swf/$1 [L,NC]
RewriteRule ^images/(.+)$ images/$1 [L,NC]
RewriteRule ^jquery/(.+)$ jquery/$1 [L,NC]
RewriteRule ^js/(.+)$ js/$1 [L,NC]
RewriteRule ^xsl/(.+)$ xsl/$1 [L,NC]
RewriteRule ^([^/]+)/([^/]+)$ ?sub=$1&name=$2 [L,NC]
RewriteRule ^([^/\.\?]+)/?$ ?id=$1 [L,NC]