/** Visualisation CSS */
.fullscreen {
    width: 99%;
    height: 99%;
}

/*
.drag {
    cursor: url('visualize/drag.png'), all-scroll;
}

.information {
    cursor: url('visualize/information.png'), help;
}

.selection {
    cursor: url('visualize/selection.png'), crosshair;
}
*/

/** Visualisation settings */
#visualisation-settings {
    float: left; 
}
      
.settings {
    display: block;
    border-bottom: 1px solid lightgray;
}  

.settings div {
    display: inline-block;
}     

.space {
    font-size: 0.7em;
    padding:3px 5px;
}

.middle {
   vertical-align: middle; 
}

.dotted-link {
    border-bottom: dotted 1px #6A7C99;
}
  
.mouse-icon {
    cursor: pointer;
    padding: 2px;
}
.mouse-icon.selected {
    background: #d5d5d5;
}

.colorblock {
    cursor: pointer;
    display: inline-block;
    /* width: 18px; */
    height: 18px;
    border: none; /*1px solid black; */
    vertical-align: middle;
}

.settings select:hover {
    cursor: pointer;
}

.number-input { 
    cursor: text;
    text-align: center;
}
.number-input.small {
     max-width: 40px;
}
.number-input.medium {
    max-width: 50px;
}

.explanation {
    color: #444;
    font-size: 8px !important;
}

/** Visualisation menu */
#visualisation-menu {
    max-width: 150px;
    position: absolute;
    top:5px;
    right: 5px;
}

.menu-items {
    padding: 0px;
    margin: 0px;
    list-style-type: none; 
}
.menu-items.level2 .menu-item {
    text-align: left;
    display: none;
}
 
.menu-item {  
    display: block;
    list-style-type: none;                                   
}
.menu-item:hover {
    cursor: pointer;  
}
.menu-item.padding {
    padding: 3px;
}

.menu-item a:hover {
    text-decoration: underline;
}

.menu-button {
    text-align: right;
    list-style-type: none;
    background: #ddd;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.menu-button:hover .menu-item {
    display: block;                                             
}





/** SVG */
#d3svg {
    /* border: 1px dashed #423896; */
}

/** Record hover */
g:hover {
    /*cursor: pointer;*/
}

/** Lines between records */
.link {
    fill: none;    
    stroke-opacity: 0.7;  
}

.link:hover {
    /*cursor: pointer;*/
}

/** Circle around icon */
circle.around {
    stroke-width: 1px;
    stroke: #ddd;
    stroke-opacity: .25;
}

circle.foreground {
    fill: #fff;
}

circle.selected {
    fill: #00ff00 !important;
    /*fill: #1687E7 !important;*/
}

/** Text above circle */
text.center {
    font-weight: bold;
    text-anchor: middle;   
}

text.bold {
    font-weight: bold;
}

text.shadow {
    stroke: #fff;
    stroke-width: 2px;
    stroke-opacity: .8;
}

/** Overlay */
.overlay:hover {   
    cursor: default;
    pointer-events: none;
}                 

.semi-transparant {
    fill: #fff;
    fill-opacity: 0.95;
    stroke: #000;
    stroke-width: 1.5;
    stroke-opacity: 1.0;
}

.close-button {
    fill: #fff;
    stroke: #000;
    stroke-width: 0.5; 
    pointer-events: all; 
    cursor: pointer;
    width:8;
    height:8;
}

.close-text {
    fill: #000;
    /*font-size: 20px;*/
    font-weight: bold;
    cursor: pointer;
}

/**Node information iframe
  *ADDED BY ISH */
  #iframeDiv {
    display: none;
    position: absolute;
    right: 16px;
    bottom: 0px;
    width: 30%;
    height: 40%;
    min-width: 300px;
    min-height: 330px;
    max-width: 330px;
    max-height: 350px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

/**Close Node information iframe button
  *ADDED BY ISH */
#closeButton {
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    /*overflow: visible;*/
    z-index: 60001;
}

/** Selection */
#selection {
    fill: #fff;
    fill-opacity: 0.3;
    stroke: #000;
    stroke-dasharray: 5,5;
    stroke-width: 1.5;
}


.toolbar-section{
    padding:0 4px;
    margin-bottom: 5px;
    display: inline-block;
}
.toolbar-section > label{
    font-size:0.8em;
}
#toolbar{
    line-height: 10px;    
    display:table-cell;
    height:auto;
}
#toolbar.split_bar {
    display: flex;
    position: relative;
    width: 400px;
}

#toolbar2 {
    line-height: 0px;
    display: table-cell;
    height: 70;
    bottom: 0;
}

#toolbar2>div {
    bottom: 0;
    padding: 10;
    background-color: #00ff00;
}

.dropbtn {
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


.dropdown-content1, 
.dropdown-content2, 
.dropdown-content3 {
    padding: 5px;
    margin-top: 10px;
    display: none;
    position: relative;
    background-color: #f1f1f1;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown1:hover .dropdown-content1,
.dropdown2:hover .dropdown-content2,
.dropdown3:hover .dropdown-content3 {
    display: block;
}

.dropdown-content1 div,
.dropdown-content2 div,
.dropdown-content3 div {
    margin: 5px 0px 0px 5px;
}

.dropdown:hover .dropbtn {
    background-color: #1fb5cf;
}

ul.split_bar {

    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

.ui-icon-cursor{
    background-image: url(cursor.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-gravity0{
    background-image: url(gravity_0.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-gravity1{
    background-image: url(gravity_1.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-gravity2{
    background-image: url(gravity_2.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-link-streight{
    background-image: url(link_streight.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-link-curved{
    background-image: url(link_curved.png) !important; 
    width: 16;
    height: 16;
}
.ui-icon-link-stepped{
    background-image: url(link_stepped.png) !important; 
    width: 16;
    height: 16;
}

#nodecontrolbox {
    border: 1px solid black;
    background-color: rgb(175, 174, 174);
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}
