/***** HEADINGS AND GENERIC FONT STYLING *****/

                    H1 { 
                    font-family: Helvetica, Arial, Verdana; 
                    color:#666; 
                    font-size: 16px; 
                    vertical-align: middle;
                    /* hanging edit icon */ 
                    text-indent: -16px; 
                    padding-left: 18px;
                    line-height: 18px;
                    }
                    H1 span {
                    padding: 0 !important;
                    }
                    H1 A:Link img{padding-left:0px;}
                    
                    DIV#page-inner H1{
                    text-indent: -37px;
                    }
                    
                    H2 { font-family: Helvetica, Arial, Verdana; color:#333; font-size: 14px}
                    H3 { font-family: Helvetica, Arial, Verdana; color:#DC8501; font-size: 12px}
                    H4 { font-family: Helvetica, Arial, Verdana; color:#000; font-size: 10px }
                    H5 { font-family: Helvetica, Arial, Verdana; color:#999; font-size: 9px }

                    P { color:#333333; font-family:Helvetica; font-size:14px; line-height:21px; padding-left:0; }
                    TD { font-family: Helvetica, Arial, Verdana; font-size: 12px; color:#333; white-space:normal; text-indent:0; padding:0 0 0 0;}
                    UL { font-family: Helvetica, Arial, Verdana; font-size: 12px; color:#333 }
                    P.sb_ttl { font-family: Helvetica, Arial, Verdana; font-size: 10px; font-weight: bold; color:#666 }
                    P.footer { font-family: Helvetica, Arial, Verdana; color:#999999; font-size: 9px}
                    P.intro { font-family: Helvetica, Arial, Verdana; font-size: 12px; color:#666 }

                    
                    table {
                    border-collapse: collapse;}
                     
                     /* side bar headings and icons */ 
                     TD B{
                     	background-color:rgba(0, 0, 0, 0.1);
						border-top:1px solid #CCCCCC;
						color:#6D6D6D;
						display:block;
						font-size:11px;
						margin-top:-2px;
						padding:2px 0 2px 5px;
						text-indent:0;
                     }  
                     
                     TD TABLE TR TD {
						border-bottom:1px solid #FFFFFF;
                     }        
                     
/***** LINK STYLING *****/


                    A:link { font-family: Helvetica, Arial, Verdana; color:#0065CF; font-size: 12px; text-decoration: none; }
                    A:visited { font-family: Helvetica, Arial, Verdana; color:#0065CF; font-size: 12px; text-decoration: none; }
                    A:active { font-family: Helvetica, Arial, Verdana; color:#0096E3; font-size: 12px; text-decoration: none; }
                    A:hover { font-family: Helvetica, Arial, Verdana; color:#0096E3; font-size: 12px; text-decoration: underline; }

                    A.map-type { text-decoration: none; font-weight: normal; display:block; padding-left: 21px;}

                    A.map-type:link, A.map-type:visited {  color:#333333; }
                    A.map-type:active, A.map-type:hover { color:#0096E3; }


                    A.bnnavsoff:link { font-family: Helvetica, Arial, Verdana; color:#FFFFFF; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bnnavsoff:visited { font-family: Helvetica, Arial, Verdana; color:#FFFFFF; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bnnavsoff:active { font-family: Helvetica, Arial, Verdana; color:#FFCC00; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bnnavsoff:hover { font-family: Helvetica, Arial, Verdana; color:#FFCC00; text-decoration:none; font-weight: normal; font-size: 12px }

                    A.sb_title:link { font-family: Helvetica, Arial, Verdana; color:#333333; text-decoration:none; font-weight: normal; font-size: 13px }
                    A.sb_title:visited { font-family: Helvetica, Arial, Verdana; color:#333333; text-decoration:none; font-weight: normal; font-size: 13px }
                    A.sb_title:active { font-family: Helvetica, Arial, Verdana; color:#004F98; text-decoration:none; font-weight: normal; font-size: 13px }
                    A.sb_title:hover { font-family: Helvetica, Arial, Verdana; color:#004F98; text-decoration:none; font-weight: normal; font-size: 13px }

                    A.sb_one:link { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 12px }
                    A.sb_one:visited { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 12px }
                    A.sb_one:active { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 12px }
                    A.sb_one:hover { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: bold; font-size: 12px }

                    A.sb_two:link { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.sb_two:visited { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.sb_two:active { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.sb_two:hover { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 12px }

                    A.bodynav:link { font-family: Helvetica, Arial, Verdana; color:#666666; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bodynav:visited { font-family: Helvetica, Arial, Verdana; color:#999999; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bodynav:active { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 12px }
                    A.bodynav:hover { font-family: Helvetica, Arial, Verdana; color:#0096E3; text-decoration:none; font-weight: normal; font-size: 12px }

                    A.footer:link { font-family: Helvetica, Arial, Verdana; color:#666666; text-decoration:none; font-size: 9px }
                    A.footer:visited { font-family: Helvetica, Arial, Verdana; color:#666666; text-decoration:none; font-size: 9px }
                    A.footer:active { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-size: 9px }
                    A.footer:hover { font-family: Helvetica, Arial, Verdana; color:#0065CF; text-decoration:none; font-size: 9px }



/***** STYLING FOR FORM FIELD ELEMENTS *****/


					.inputone {  font-family: Verdana, Arial, Helvetica, sans-serif; font-size: 8px; color: #333333; background-color: #FCFCFC; width: 95%px; clip:  rect(   )}
					.formfield {  background-color: #FFFFFF; font-family: Arial, Courier, monospace; font-size:10px; color: #000000; width: 95%; clip:   rect(   )}
					.formbutton { font-family: Arial, Helvetica, sans-serif; font-size: 9px; color: #FFFFFF; font-weight: bold;  border: 1px; border-color: #FFFFFF; background-color: #000099; padding: 3px;}


/***** THESE ROW AND CELL STYLES BELOW ARE TO BE USED TO CONTROL BRANDING COLOURS *****/

					.colourcellone  { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; font-weight: bold; background-color: #0096E3 }
					.colourcelltwo { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; background-color: #888888 }
					.colourcellthree { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #EFEFEF }
					.colourcellfour { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: none }  /*    changed below to none */
					.colourcellfive { font-family: Arial, Helvetica, Verdana; color:#FFF; font-size: 11px; background-color: #EEAC03 }
					.colourcellsix { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #F8E061 }
					.colourcellseven { font-family: Arial, Helvetica, Verdana; color:#333; font-size: 11px; background-color: #DCE9FB }
					.sb_divider {margin-bottom: 6px }

                    #header {
	                    background-image:url(http://heuristscholar.org/heurist-ig/img/hlogo-small.png);
	                    background-position:left top;
						background-repeat:no-repeat;
						height:50px;
						margin-left:10px;
					}

/**** annotation styles *****/

					A.annotation1{ font-family: Arial, Verdana, Helvetica; background-color: #ffff70; color:#0065CF; text-decoration:none; font-weight: bold; font-size: 16px };
					
					html {
						overflow: hidden;
					}
					
					
                    input[type=text] {

	                    border: 1px solid #BBB;
	                    margin-left: 5px;
	                    margin-right: 5px;
	                    width: 50%;
	                    padding: 0 3px 0 3px;
	                    font-size: 12px;
	                    height: 18px; 
	                    -moz-border-radius-bottomleft:10px;
	                    -moz-border-radius-bottomright:10px;
	                    -moz-border-radius-topleft:10px;
	                    -moz-border-radius-topright:10px;
	                    -webkit-border-bottom-left-radius:10px;
	                    -webkit-border-bottom-right-radius:10px;
	                    -webkit-border-top-left-radius:10px;
	                    -webkit-border-top-right-radius:10px;
	                    border-bottom-left-radius:10px;
	                    border-bottom-right-radius:10px;
	                    border-top-left-radius:10px;
	                    border-top-right-radius:10px;
                     }

					

                    input[type=button] {
	                    float:right;
	                    font-weight:normal;
	                    font-size: 10px;
	                    text-transform:uppercase;
	                    line-height: 21px;
	                    vertical-align: middle;
	                    margin-right: 5px;
                    
                    }

                    
/***** LAYOUT STYLING *****/ 
                    
                    
                    body {
	                    background-image:url(http://heuristscholar.org/heurist/img/saved-searches-bg.png);
	                    height:95%;
	                    left:0;
	                    margin:10px 10px 10px 10px;
	                    position:absolute;
	                    right:0;
	                    top:0;
                    }

					#breadcrumbs {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 0px;
						left: 0px;
						width: 100%;
						height: 100px;
						overflow: hidden;
					}

					#artwork {
						text-align: center; /* for IE */
						margin: 0 auto; /* for the rest */
						width: 100%;
					}

					#page {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 75px;
						left: 0px;
						bottom: 0px;
						overflow: auto;
						/* IE only */
						height: expression(document.documentElement.clientHeight-100);
						width: expression(document.documentElement.clientWidth-250);
	                    background-image: url(http://heuristscholar.org/heurist/img/right-panel-bg.png);
	                    -moz-border-radius-bottomleft:10px;
	                    -moz-border-radius-bottomright:10px;
	                    -moz-border-radius-topleft:0px;
	                    -moz-border-radius-topright:0px;
	                    -webkit-border-bottom-left-radius:10px;
	                    -webkit-border-bottom-right-radius:10px;
	                    -webkit-border-top-left-radius:0px;
	                    -webkit-border-top-right-radius:0px;
	                    border-bottom-left-radius:10px;
	                    border-bottom-right-radius:10px;
	                    border-top-left-radius:0px;
	                    border-top-right-radius:0px;
	                    border:1px  solid #999999;
					}
                    

					#page-inner { 
	                    padding: 25px 25px 25px 35px;  
	                    height:auto !important;
	                    width:auto !important;
                    }
                    
                    #page-inner td {
                   		text-indent: 0;	
                    }

					#entity {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 20px;
						left: 20px;
						right:20px;
						bottom: 0;
						overflow: auto;
						background-color: white;
						z-index: 1;
						/* IE only */
						height: expression(document.documentElement.clientHeight-100);
						width: expression(document.documentElement.clientWidth-250);
					}

					#factoid {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 20px;
						left: 20px;
						right: 20px;
						bottom: 0;
						overflow: auto;
						background-color: white;
						border: 1px solid black;
						z-index: 2;
						/* IE only */
						height: expression(document.documentElement.clientHeight-100);
						width: expression(document.documentElement.clientWidth-250);
					}

					#logo {
						padding: 5px 0 0 0;
						margin: 0;
						position: absolute;
						top: 0px;
						right: 0px;
						width: 250px;
						height: 50px;
	                    text-align: right;
						overflow: visible;
						/* IE only */
						height: expression(document.documentElement.clientHeight-50);
					}

					#sidebar {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 75px;
						right: 0px;
						bottom: 0px;
						overflow: auto;
						/* IE only */
						height: expression(document.documentElement.clientHeight-75);
	                    background-image: url(http://heuristscholar.org/heurist/img/left-panel-bg.png);
	                    -moz-border-radius-bottomleft:10px;
	                    -moz-border-radius-bottomright:10px;
	                    -moz-border-radius-topleft:0px;
	                    -moz-border-radius-topright:0px;
	                    -webkit-border-bottom-left-radius:10px;
	                    -webkit-border-bottom-right-radius:10px;
	                    -webkit-border-top-left-radius:0px;
	                    -webkit-border-top-right-radius:0px;
	                    border-bottom-left-radius:10px;
	                    border-bottom-right-radius:10px;
	                    border-top-left-radius:0px;
	                    border-top-right-radius:0px;
	                    border:1px  solid #999999;
					}
					
                    #sidebar-inner { padding: 0px; }

					#pagetopcolour {
	                    background-image: url(http://heuristscholar.org/heurist/img/heading_popup.png);
	                    background-repeat: repeat-x;
	                    padding: 0;
	                    margin: 0;
	                    position: absolute;
	                    top: 50px;
	                    left: 0px;
						height: 25px;
						overflow: auto;
						/* IE only */
						width: expression(document.documentElement.clientWidth-151);
	                    -moz-border-radius-bottomleft:0px;
	                    -moz-border-radius-bottomright:0px;
	                    -moz-border-radius-topleft:10px;
	                    -moz-border-radius-topright:10px;
	                    -webkit-border-bottom-left-radius:0px;
	                    -webkit-border-bottom-right-radius:0px;
	                    -webkit-border-top-left-radius:10px;
	                    -webkit-border-top-right-radius:10px;
	                    border-bottom-left-radius:0px;
	                    border-bottom-right-radius:0px;
	                    border-top-left-radius:10px;
	                    border-top-right-radius:10px;
	                    border:1px  solid #999999;
                    }

					#sidebartopcolour {
	                    background-image: url(http://heuristscholar.org/heurist/img/heading_popup.png);
	                    background-repeat: repeat-x;
						padding: 0;
						margin: 0;
						position: absolute;
						top: 50px;
						right: 0px;
						bottom: 0px;
	                    height:25px;
						overflow: auto;
						-moz-border-radius-bottomleft:0px;
	                    -moz-border-radius-bottomright:0px;
	                    -moz-border-radius-topleft:10px;
	                    -moz-border-radius-topright:10px;
	                    -webkit-border-bottom-left-radius:0px;
	                    -webkit-border-bottom-right-radius:0px;
	                    -webkit-border-top-left-radius:10px;
	                    -webkit-border-top-right-radius:10px;
	                    border-bottom-left-radius:0px;
	                    border-bottom-right-radius:0px;
	                    border-top-left-radius:10px;
	                    border-top-right-radius:10px;
	                    border:1px  solid #999999;
                    }


					#footnotesleft {
						padding: 0;
						margin: 0;
						position: absolute;
						left: 0px;
						bottom: 0px;
						height: 170px;
						overflow: auto;
						display: none;
						/* IE only */
						width: expression(document.documentElement.clientWidth-250);
					}

					#footnotesright {
						padding: 0;
						margin: 0;
						position: absolute;
						right: 0px;
						bottom: 0px;
						height: 170px;
						overflow: auto;
						display: none;
						/* IE only */
						width: expression(document.documentElement.clientWidth-250);
					}

                    #footnotes {
	                    padding: 0;
	                    margin-top: 5px;
	                    left: 0px;
	                    bottom: 0px;
	                    height: 100px;
	                    overflow: auto;
	                    display: none;       
	                    position: absolute;
	                    left: 0px;
	                    right: 305px;
	                    bottom: 0px;
	                    overflow: auto;
	                    background-image: url(http://heuristscholar.org/heurist/img/left-panel-bg.png);
	                    -moz-border-radius-bottomleft:10px;
	                    -moz-border-radius-bottomright:10px;
	                    -moz-border-radius-topleft:10px;
	                    -moz-border-radius-topright:10px;
	                    -webkit-border-bottom-left-radius:10px;
	                    -webkit-border-bottom-right-radius:10px;
	                    -webkit-border-top-left-radius:10px;
	                    -webkit-border-top-right-radius:10px;
	                    border-bottom-left-radius:10px;
	                    border-bottom-right-radius:10px;
	                    border-top-left-radius:10px;
	                    border-top-right-radius:10px;
	                    border:1px  none  #999999;
	                    /* test of innershadow */
	                    box-shadow:inset 0 2px 5px RGBA(0,0,0,0.5);
	                    -moz-box-shadow:inset 0 2px 5px RGBA(0,0,0,0.5);
                    }
                    #footnotes-inner { 
	                    padding: 0px 20px 20px 20px; 
                    }
                    
                    #footnotes-inner p{ 
	                    font-size: 12px !important;
	                    line-height: 16px;
	                    padding:0;
                    }

                    /* page widths */
                    #sidebar, #sidebartopcolour {
	                    width:295px;
                    }
                    
                    #page, #pagetopcolour  {
                    right:305px;
                    }
                    
					.reftype-heading a { text-decoration: none; }
					.reftype-heading a img { margin: 0; }
					.reftype-heading a.open img.right { display: none; }
					.reftype-heading a.closed img.down { display: none; }

					#titleunderlinea {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 60px;
						left 0px;
						bottom: 0px;
						overflow: auto;
						width: 200px;
						/* IE only */
						height: expression(document.documentElement.clientHeight-60);
					}

					# titleunderlineb {
						padding: 0;
						margin: 0;
						position: absolute;
						top: 60px;
						left 0px;
						bottom: 0px;
						overflow: auto;
						width: 200px;
						/* IE only */
						height: expression(document.documentElement.clientHeight-60);
					}
					.teidoc {
						border : 1px solid lightgrey;
					}

                    #search {
                        text-align: left;
                        padding: 10px 5px 10px 5px;
                        border-bottom: 1px solid #999;
                        vertical-align: middle;
                        background-color: RGBA(0,0,0,0.1);
                    }


					#results-div {
						padding: 25px;
					}
					#results-div img {
						vertical-align: middle;
						padding:2px 10px 2px 0; 
					}

					.add-annotation-button {
						margin-bottom: 4px;
					}

					a img {
					border:medium none;
					padding:2px;
					vertical-align:middle;
					}
					#login {

						padding-left: 5px;
						padding-top: 3px;
						vertical-align: middle;
                        padding-left: 25px;
						

					}

					#login a {
						font-size: 99%;
						color: white;

					}
					
					#saved-searches,
					#track,
					#track-header
					{
						padding-left: 15px;
						

					}

					#saved-searches a, 					
					#track a
					{
						
					}


					#saved-searches-header,
					#track-header{
						padding-top: 15px;
						padding-bottom: 5px;
						font-weight: bold;
					}
					#track {	
						padding-bottom: 20px;
						border-bottom:2px solid #888888;
					}
                    
                    #relations-table{
                        padding-left: 0px;
                        padding-bottom: 5px;
                        width:100%;
                        table-layout: fixed;
                        word-wrap: break-word;
                        border-collapse: collapse;
                    }
                      
                    
					#heurist-link  a{
						text-align: right;
						

					}

					/* TEI styles */
					
					p.DoSBlockquote {
						font-family:"Times New Roman", Times, serif;
						padding-right: 50px;
						padding-left: 50px;
					}
					span.italics {
						font-style: italic;
					}
					span.bold {
						font-weight: bold;
					}
					span.note {
						display: none;
					}

					/* annotation styles */
					a.annotation {
						background-color: #ffffc0;
					}
					a.annotation.multiple {
						background-color: #ffff70;
					}
					a.annotation.superscript {
						display: none;
					}
					
					/* timemap styles */
					#map {
						position: absolute; top: 0px; left: 0px;
						width: 100%;
						height: 350px;
						margin: 0 auto;
						z-index: 0;
					}

					#timeline { 
						position: absolute; top: 380px; left: 0px;
						width: 100%;
						height: 300px;
						margin: 0 auto;
					}

					#map-timeline-key {
						position:relative;
						padding-left: 20px;
						float: none;
					}

					#timeline-zoom {
						font-family: Arial, Verdana, Helvetica; font-size: 10px; font-weight: bold; color:#666;
						position: absolute; top: 350px; right: 0px;
					}
					
					
					#div-main {
						position:relative;
						float: none;
					}
					
					a.timeline-zoom-a, a.timeline-zoom-a:hover, a.timeline-zoom-a:visited{
						text-decoration:none;
						padding-left: 5px;
						font-size: 11px;
					
					}
					
					.selected{

						background-color:rgba(255, 255, 255, 0.4);
						background-image:url(http://heuristscholar.org/heurist-ig/img/tick-grey.png);
						background-position:5px top;
						background-repeat:no-repeat;
						font-size:11px;

					}
					
                    div#artwork.artwork img {width:100%;}
                    
                    .group-td {
	                    -moz-background-clip:border;
	                    -moz-background-inline-policy:continuous;
	                    -moz-background-origin:padding;
	                    background:RGBA(255,255,255,0.6) none repeat scroll 0 0;
	                    border:1px solid #DDD;
	                    padding-bottom:5px;
	                    vertical-align:baseline;
	                    -moz-border-radius:10px;
	                    -webkit-border-radius:10px;
	                    border-radius:10px;
                    }

                    td.group-td a.bodynav:link  {
                    	font-weight: normal;
                    }
                    
                    td.group-td div{
                        background-color: white; 
                        text-align:center; 
                        border:1px solid white; 
                        margin:20px; 
                        padding-top:10px;    
                    }
                    
                    td.group-td div{
                        background-color: white; 
                        text-align:center; 
                        border:1px solid white; 
                        margin:10px 5px; 
                        padding-top:10px;    
                    }
                    
                    div#page-inner table {

	                    width:100%;
	                    border-spacing :0;

                    }
                    
                    #logo a {
	                    color:#FFFFFF;
	                    text-decoration:none;
	                    text-shadow:0 3px 3px rgba(0, 0, 0, 0.5);
	                    text-transform:uppercase;
	                    font-size: 24px;
                    }
                    
                    #logo a:hover {
	                    text-decoration:none;
	                    text-shadow:0 0px 0px rgba(0, 0, 0, 0.5);

                    }
                    
                    /* map-types stuff */
                    #map-types { 
	                    font-family: Helvetica, Arial, Verdana; 
	                    color:#333; 
	                    font-size: 10px;
	                    font-weight:normal;   
	                   /* background-color: RGBA(0,0,0,0.05);
	                    -moz-border-radius:10px;
	                    -webkit-border-radius:10px;
	                    border-radius:10px;
	                     -moz-box-shadow:0 2px 5px rgba(0, 0, 0, 0.5) inset;          
	                    box-shadow: 0 6px 12px RGBA(0,0,0,0.7) inset;                
	                    background-image:url(../../heurist-ig/img/map_box_shadow.png);              
	                    background-position: bottom;
	                    background-repeat: repeat-x;    */                                                                    
	        /*          padding:1px 0 5px 0;     */
	                    margin-bottom: 10px;
	                    text-indent: 0;}
                    
                    
                    #map-types H4{
                     	background-color:rgba(0, 0, 0, 0.1);
						border-top:1px solid #CCCCCC;
						color:#6D6D6D;
						display:block;
						font-size:11px;
						margin:10px 0 5px 0;
						padding:2px 0 2px 5px;
						text-indent:0;
                    }
                    
                    #map-types input{
	                    margin-left: 21px;
	                    vertical-align: middle;
                    }  
                    
/* fixes for main content (page-inner) */
                    #page-inner td[colspan="2"]{
                    	text-indent: -18px;
                    }
                    #page-inner td.col1 {
						width:150px;
					}
					
                    #page-inner td.col1, #page-inner td[colspan="2"]{
						color:#999999;
						font-size:10px;
						font-weight:bold;
						text-transform:uppercase;
						vertical-align:top;
						padding-right: 10px;
                    }
                    
                    div#page-inner table td{
		                border-bottom:1px solid #EFEFEF;
						line-height:18px;
						padding:5px 0;
                    }
                    
                    a[title~=Coming] {display:none;}  /* Kills "Advanced Search" coming soon link */
                    
/* Thumbnails float left */
					.thumbnail{
						float:left;   
						padding-right: 5px;
					}
					#relations-table a img.thumbnail {
						padding-left: 0;
						padding-right: 5px;
						max-width: 50px;
					}
					
					.editIcon{
						display:table-cell;
						vertical-align:middle;
						width:16px;
					}
					
					.thumbnailCell {
					display:table-cell;
					vertical-align:middle;					}
					
					.link {
					display:table-cell;
					padding:2px 0;
					vertical-align:middle;
					width:100%;
					}
					
					.annotation {
					display:table-cell;
					width:100%;
					}
					
					.annotation em {
					font-size: 10px;
					font-style: italic;
					color: #666;
					}
					
					.annotation span{
					font-size: 10px;
					font-weight: bold;
					color: #666;
					}
					
					.reftypeIcon {
						display: table-cell; 
						vertical-align: middle; 
						right: 0pt;
					}
					.displayTable {
					border-bottom:1px solid #EFEFEF;
					display:table;
					padding:3px 0;
					}

