<?xml version="1.0" encoding="UTF-8"?>
<!-- configuration for swf/dosMenu.swf -->
<config>
	<icon>
		<id>Artefacts</id>
		<pageUrl><![CDATA[browse/artefact]]></pageUrl>
	</icon>

	<icon>
		<id>Buildings</id>
		<pageUrl><![CDATA[browse/building]]></pageUrl>
	</icon>

	<icon>
		<id>Entries</id>
		<pageUrl><![CDATA[browse/entry]></pageUrl>
	</icon>

	<icon>
		<id>Events</id>
		<pageUrl><![CDATA[browse/event]]></pageUrl>
	</icon>

	<icon>
		<id>Maps</id>
		<pageUrl><![CDATA[browse/map]]></pageUrl>
	</icon>

	<icon>
		<id>Natural features</id>
		<pageUrl><![CDATA[browse/natural]]></pageUrl>
	</icon>

	<icon>
		<id>Organisations</id>
		<pageUrl><![CDATA[browse/organisation]]></pageUrl>
	</icon>

	<icon>
		<id>People</id>
		<pageUrl><![CDATA[browse/person]]></pageUrl>
	</icon>

	<icon>
		<id>Places</id>
		<pageUrl><![CDATA[browse/place]]></pageUrl>
	</icon>

	<icon>
		<id>Roles</id>
		<pageUrl><![CDATA[browse/role]]></pageUrl>
	</icon>

	<icon>
		<id>Structures</id>
		<pageUrl><![CDATA[browse/structure]]></pageUrl>
	</icon>

	<icon>
		<id>Subjects</id>
		<pageUrl><![CDATA[browse/term]]></pageUrl>
	</icon>
</config>
